	<form action="{{ path('contracts_xls') }}" method="post" }} id="criteria_form">
		<table width="100%">
				<td width="20">&nbsp;</td>
				<td class="sty_label" align="right">{{'label.year'|trans([],'BoAdminBundle')}}:&nbsp;</td>
				<td>{{ form_widget(ccd_form.year, {'attr' : {'class' : 'year span3'}}) }}</td>
				<td width="20">&nbsp;</td>
				<td class="sty_label" align="right">{{'label.month'|trans([],'BoAdminBundle')}}:&nbsp;</td>
				<td>{{ form_widget(ccd_form.month, {'attr' : {'class' : 'month span3'}}) }}</td>
				<td width="20">&nbsp;</td>
				<td class="sty_label" align="right">{{'label.week'|trans([],'BoAdminBundle')}}:&nbsp;</td>
				<td>{{ form_widget(ccd_form.week, {'attr' : {'class' : 'week span3'}}) }}</td>
				<td width="20">&nbsp;</td>
				<td class="sty_label" align="right">{{'label.startdate'|trans([],'BoAdminBundle')}}:&nbsp;</td>
				<td>{{ form_widget(ccd_form.startdate, {'attr' : {'class' : 'startdate span3'}}) }}</td>
				<td width="20">&nbsp;</td>
				<td class="sty_label" align="right">{{'label.enddate'|trans([],'BoAdminBundle')}}:&nbsp;</td>
				<td class="sty_value">{{ form_widget(ccd_form.enddate, {'attr' : {'class' : 'enddate span3'}}) }}</td>
				<td class="extract_btn"><button type="submit"><img src="{{ asset('images/actions/xls.gif') }}" /></button></td>	
			</tr>
		</table>
	</form>