    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th width="14%">{{'label.monday'|trans([],'BoAdminBundle')}}</th>
                <th width="14%">{{'label.tuesday'|trans([],'BoAdminBundle')}}</th>
                <th width="14%">{{'label.wednesday'|trans([],'BoAdminBundle')}}</th>
                <th width="14%">{{'label.thursday'|trans([],'BoAdminBundle')}}</th>
                <th width="14%">{{'label.friday'|trans([],'BoAdminBundle')}}</th>
                <th width="14%">{{'label.saturday'|trans([],'BoAdminBundle')}}</th>
                <th width="14%">{{'label.sunday'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="sty_agenda">&nbsp;</td>
                <td class="sty_agenda">&nbsp;</td>
                <td class="sty_agenda">&nbsp;</td>
                <td class="sty_agenda">&nbsp;</td>
                <td class="sty_agenda">&nbsp;</td>
                <td class="sty_agenda">&nbsp;</td>
                <td class="sty_agenda">&nbsp;</td>
            </tr>
        </tbody>
    </table>