    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>{{'label.contracttype'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.targetlevel'|trans([],'BoAdminBundle')}}</th>
                <th width="18%">{{'label.pa'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.teacherschedule'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
	{% set i=0 %}
        {% for group in groups %}
			{%if tcsgs[group.id] is defined %}{%set tcsg = tcsgs[group.id]%}{%endif%}
			{%if tcsg is defined and group.startdate<=now and now<=group.enddate and tcsg.startdate<=now and now<=tcsg.enddate%}
				{% set i=i+1 %}
				<tr>
					<td {%if group.status==0%} class="completed_contracts"{%endif%}>{%if group.typecontract %}{{ group.typecontract.reference }}{%else%}---{%endif%}</td>
					<td {%if group.status==0%} class="completed_contracts"{%endif%}>{{ group.name }}</td>
					<td {%if group.status==0%} class="completed_contracts"{%endif%}>{{ group.targetlevel }}</td>
					<td {%if group.status==0%} class="completed_contracts"{%endif%}>{{ group.advisor }}</td>
					<td {%if group.status==0%} class="completed_contracts"{%endif%}>{% if tcsg.startdate %}{{ tcsg.startdate|date('Y-m-d') }}{%else%}---{% endif %}</td>
					<td {%if group.status==0%} class="completed_contracts"{%endif%}>{% if tcsg.enddate %}{{ tcsg.enddate|date('Y-m-d') }}{%else%}---{% endif %}</td>
					<td {%if group.status==0%} class="completed_contracts"{%endif%}>
						{%if tgs[group.id] is defined %}
							{{tgs[group.id]}}
						{%else%}
							---
						{%endif%}
					</td>
				</tr>
			{%elseif i==0 %}
				<tr><td colspan="6">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>			
			{%endif%}
		{%else%}
			<tr><td colspan="6">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
