	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
			<th class="sty_label">{{'label.holder'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>					
				<input name="holder" value="{{holder[1]}}" disabled="disabled" size="50"/>
				<input type="hidden" name="holders" value="{{holder[0]}}"/>
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.substitute'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>
				<select name='teachers' id='teachers' required>
					<option value="">Select substitute</option>
					{%for teacher in substitutes[contract.id]%}
						<option value="{{teacher[0]}}" {%if idteacher is defined and teacher[0] ==idteacher%}selected='selected'{%endif%}>{{teacher[1]}}</option>
					{%endfor%}
				</select>				
			</td>
		</tr>
	</table>
	<br/>
	<div>
		{%include "BoAdminBundle:Contracts:subschedule.html.twig"%}
	</div>
	<input type="hidden" name="idcontract" id="idcontract" value="{{contract.id}}"/>