    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th width="4%">{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th width="12%">{{'label.firstname'|trans([],'BoAdminBundle')}}</th>
                <th width="12%">{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.email'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.phonenumber'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.cellnumber'|trans([],'BoAdminBundle')}}</th>
                <th width="13%">{{'label.qualification'|trans([],'BoAdminBundle')}}</th>
                <th width="8%">{{'label.contract'|trans([],'BoAdminBundle')}}</th>
                <th width="5%">{{'label.status'|trans([],'BoAdminBundle')}}</th>
                <th width="110" nowrap>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
			{%set c=0%}
			{%set g=0%}
			{%if employee.contracts and employee.contracts|length>0%}
				{% for contract in employee.contracts %}
					{%if (contract.status==1 or contract.status==2) and ((contract.startdate<=now and now<=contract.enddate) or contract.startdate>=now)%}
						{%set c=c+1%}
					{%endif%}
				{%endfor%}
			{%endif%}
			{%if employee.group and employee.group|length>0%}
				{% for group in employee.group %}
					{%if (group.status==1 or group.status==2) and ((group.startdate<=now and now<=group.enddate) or group.startdate>=now)%}
						{%set g=g+1%}
					{%endif%}
				{%endfor%}
			{%endif%}
            <tr>
                <td {%if employee.active==false%} class="ping-color"{%elseif employee.available==false%} class="enquiry_processed"{%endif%}><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.id }}</a></td>
                <td {%if employee.active==false%} class="ping-color"{%elseif employee.available==false%} class="enquiry_processed"{%endif%}>{{ employee.firstname }}</td>
                <td {%if employee.active==false%} class="ping-color"{%elseif employee.available==false%} class="enquiry_processed"{%endif%}>{{ employee.name }}</td>
                <td {%if employee.active==false%} class="ping-color"{%elseif employee.available==false%} class="enquiry_processed"{%endif%}>{{ employee.email }}</td>
                <td {%if employee.active==false%} class="ping-color"{%elseif employee.available==false%} class="enquiry_processed"{%endif%}>{{ employee.homenumber }}</td>
                <td {%if employee.active==false%} class="ping-color"{%elseif employee.available==false%} class="enquiry_processed"{%endif%}>{{ employee.cellnumber }}</td>
                <td {%if employee.active==false%} class="ping-color"{%elseif employee.available==false%} class="enquiry_processed"{%endif%}>
					{%set i=0%}
					{%for tc in employee.typecontract%}
						{{ tc.reference }}
						{%set i=i+1%}
						{%if i<employee.typecontract|length%}, {%endif%}
					{%endfor%}
				</td>
                <td {%if employee.active==false%} class="ping-color"{%elseif employee.available==false%} class="enquiry_processed"{%endif%}>
					<center>
						{%if (c is defined and c>0) or (g is defined and g>0)%}
							{%if c is defined and c>0%}
								{{ c }}C
							{%endif%}
							{%if g is defined and g>0%}
								{{ g }}G
							{%endif%}
						{%else%}---{%endif%}
					</center>
				</td>
                <td {%if employee.active==false%} class="ping-color"{%elseif employee.available==false%} class="enquiry_processed"{%endif%}>{{ employee.status|trans([],'BoAdminBundle') }}</td>
                <td class="list-action {%if employee.active==false%}ping-color{%elseif employee.available==false%}enquiry_processed{%endif%}"  width="126px" nowrap>
                    <a href="{{ path('employee_show', { 'id': employee.id }) }}">
						{{'action.show'|trans([],'BoAdminBundle')}}
					</a>
					{%if app.session.get('rights')['STAFF']['Employees'] is defined and app.session.get('rights')['STAFF']['Employees'].edit==1%}
						<a href="{{ path('employee_edit', { 'id': employee.id }) }}">
							{{'action.edit'|trans([],'BoAdminBundle')}}
						</a>
					{%endif%}
                </td>
            </tr>
		{%else%}
			<tr><td colspan="8">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
