{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-{{'layout.menu.dashboard'|trans([],'BoAdminBundle')}} >> {{'label.validation.ts'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:tdb.html.twig"%}{% endblock %}
{% block nav %}	
	{%if employee!=null%}{%include "BoAdminBundle:Employee:rightshow.html.twig"%}{%endif%}	
{% endblock %}
{% block label %}<h1>{{'layout.menu.dashboard'|trans([],'BoAdminBundle')}} >> {{'label.validation.ts'|trans([],'BoAdminBundle')}} N°{{ timesheet.id }}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		{%include "BoAdvisorsBundle:Validation:validateactions.html.twig"%}
		<div class="show_content">
			{%include "BoAdvisorsBundle:Validation:tbshow.html.twig"%}
		</div>	
		{%if tsv%}
		<br/>
		<div id="content-liste">
			{%include "BoAdminBundle:TsValidation:tbliste.html.twig"%}
		</div>
		{%endif%}
	</div>
{% endblock %}
