{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypeTeacher</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typeTeacher.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ typeTeacher.reference }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ typeTeacher.designation }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if typeTeacher.creationdate %}{{ typeTeacher.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeteacher_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typeteacher_edit', { 'id': typeTeacher.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
