    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'label.teacher'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.hourperday'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.contract'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.group'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.days'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startam'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.endam'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startpm'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.endpm'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{{ schedule.id }}</a></td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{{ schedule.employee.firstname }} {{ schedule.employee.name }}</a></td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{% if schedule.startdate %}{{ schedule.startdate|date('Y-m-d') }}{% endif %}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{% if schedule.enddate %}{{ schedule.enddate|date('Y-m-d') }}{% endif %}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{{ schedule.hourperday }}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{%if schedule.students%}{{ schedule.students.firstname }} {{ schedule.students.name }}{%elseif schedule.contracts and schedule.contracts.students and schedule.contracts.students|length==1%}{%set student=schedule.contracts.students[0]%}{{ student.firstname }} {{ student.name }}{%elseif schedule.contracts.group%}{{ schedule.contracts.group.name }}{%else%}---{%endif%}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{%if schedule.group%}{{ schedule.group.name }}{%else%}---{%endif%}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{%include "BoAdminBundle:Agenda:days.html.twig"%}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{% if schedule.startam %}{{ schedule.startam|date('H:i') }}{% endif %}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{% if schedule.endam %}{{ schedule.endam|date('H:i') }}{% endif %}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{% if schedule.startpm %}{{ schedule.startpm|date('H:i') }}{% endif %}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{% if schedule.endpm %}{{ schedule.endpm|date('H:i') }}{% endif %}</td>
                <td {%if schedule.status==0%}class="ping-color"{%endif%}>{% if schedule.creationdate %}{{ schedule.creationdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
