{% extends 'base.html.twig' %}
{% block title %}{{parent()}} - {{'layout.menu.dashboard'|trans([],'BoAdminBundle')}} >> {{'entity.absence'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:tdb.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'layout.menu.dashboard'|trans([],'BoAdminBundle')}} >> {{'entity.absence'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('dash_absences_edit',{'id':absence.id}) }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdvisorsBundle:Absences:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdvisorsBundle:Absences:editform.html.twig"%}
			</div>
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
