    <table>
        <tbody>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <td>{{ category.id }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>{{'label.category'|trans([],'BoAdminBundle')}}</th>
                <td>{{ category.name }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
                <td>{% if category.creationdate %}{{ category.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
