    <table>
        <tbody>
            <tr>
                <th width="120px">Id:</th>
                <td width="500px">{{ campus.id }}</td>
            </tr>
            <tr>
                <th>{{'label.reference'|trans([],'BoAdminBundle')}}:</th>
                <td>{{ campus.reference }}</td>
            </tr>
            <tr>
                <th>{{'label.designation'|trans([],'BoAdminBundle')}}:</th>
                <td>{{ campus.designation }}</td>
            </tr>
            <tr>
                <th>{{'label.address'|trans([],'BoAdminBundle')}}:</th>
                <td>{{ campus.address }}</td>
            </tr>
            <tr>
                <th>City:</th>
                <td>{{ campus.city }}</td>
            </tr>
            <tr>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}:</th>
                <td>{% if campus.creationdate %}{{ campus.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>