{% extends 'base2.html.twig' %}
{% block title %}{{parent()}}- {{'entity.contracts'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}	
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.contracts'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoAdminBundle:Contracts:backactions.html.twig"%}					
{% endblock %}
{% block body %}
	<div id="content-liste">
		<div class='numberfound'><b>{{'message.searchresult'|trans([],'BoAdminBundle')}}</b> : <span>{{count}} {{'message.found'|trans([],'BoAdminBundle')}}</span></div>
		{%include "BoAdminBundle:Contracts:tbliste.html.twig"%}
	</div>
	{% block javascripts %}
		<script>
			$("#idpage").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idpage option:selected");
				page=str.text();
				var DATA = 'motcle=' + page;
				$.ajax({
					type: "POST",
					url: "{{ path('contracts_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});	
			$("#btn_search").click(function(){
				if($("#inp-search").val()==""){
					alert("Search fields is empty!");
					return false;
				}
				var criteria = $("#inp-search").val();				
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$(".pagination_content").hide();
				$(".total_number").hide();
				$(".list_link").show();
				var DATA = 'description=' + criteria;
				$.ajax({
					type: "POST",
					url: "{{ path('contracts_search')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#btn_archived").click(function(){
				$("#inp-search").val("");				
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$(".pagination_content").hide();
				$(".total_number").hide();
				$(".btn_archived").hide();
				$(".list_link").show();
				var DATA = "description=fini";
				$.ajax({
					type: "POST",
					url: "{{ path('contracts_search')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;

			});
			$("#idtype").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idtype option:selected");
				type=str.val();
				var str=$("#idstatus option:selected");
				status=str.val();
				$(".list_link").show();
				$(".extract_btn").show();
				var start = $(".startdate").val();
				var end = $(".enddate").val();
				var DATA = 'data=' + type+':'+start+":"+end+":"+status;
				$.ajax({
					type: "POST",
					url: "{{ path('contracts_extrasearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}