{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.student'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}	
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.student'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('contracts_students_new') }}" method="post" class="style">
			{%include "BoAdminBundle:Contracts:studentactions.html.twig"%}
			{%if students is not null%}
				{%include "BoAdminBundle:Contracts:select.html.twig"%}
			{%else%}
				{{ form_errors(form) }}
				<div class="show_content">
					{%include "BoAdminBundle:Students:newform.html.twig"%}
				</div>
				{{ form_rest(form) }}
			{%endif%}
		</form>	
	</div>
	<div class="container">
	  <!-- Modal -->
	  <div class="modal fade" id="add_student" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{'label.addstudent'|trans([],'BoAdminBundle')}}</h4>
			</div>
			<form action="{{ path('contracts_students_new') }}" method="post" class="style">
				<div class="modal-body">
					{{ form_errors(form) }}
						{%include "BoAdminBundle:Students:addform.html.twig"%}
					{{ form_rest(form) }}
				</div>
				<div class="modal-footer">
					<input type="submit" value="{{'action.create'|trans([],'BoAdminBundle')}}">
				</div>
			</form>	
		  </div>
		  
		</div>
	  </div>
	</div>
	
	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('js/vendor/bootstrap/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.min.js') }}"></script>
	{% endblock %}
{% endblock %}
