	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="80%" class="sty_label">{{'label.denomination'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.name) }}</td>	
		</tr> 
		<tr><td>&nbsp;</td></tr>
		<tr>
            <th class="sty_label">{{'label.message'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>
				{{ tinymce_init() }}
				{{ form_widget(form.messageen) }}
			</td>		
		</tr>
		<tr><td>&nbsp;</td></tr>
	</table>