    <table width="100%">
        <tbody>
            <tr>
                <th width="30%">{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th width="30%">{{'label.subject'|trans([],'BoAdminBundle')}}</th>
				<th width="30%">{{'label.submittby'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>              
				<td>{{ ticket.id }}</td>
                <td>{{ ticket.subject }}</td>
				<td>
					{%if ticket.employee %}{{ ticket.employee.firstname }} {{ ticket.employee.name }}{%elseif ticket.students%}{{ ticket.students.firstname }} {{ ticket.students.name }}{%endif%}
				</td>
            </tr>
            <tr><td colspan="3">&nbsp;</td></tr>
            <tr>
                <th>{{'label.openeddate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.statusdate'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>               
				<td>{% if ticket.openeddate %}{{ ticket.openeddate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if ticket.statusddate %}{{ ticket.statusddate|date('Y-m-d') }}{% endif %}</td>
				<td>{% if ticket.creationdate %}{{ ticket.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
			<tr><td colspan="3">&nbsp;</td></tr>
            <tr>
                <th>{{'label.status'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.resolvedby'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.resolveddate'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>
                
                <td>{{ ticket.status }}</td>
				<td>{% if ticket.resolvedby %}{{ ticket.resolvedby }}{% else %}N/A{% endif %}</td>
				<td>{% if ticket.resolveddate %}{{ ticket.resolveddate|date('Y-m-d H:i:s') }}{% else %}N/A{% endif %}</td>
            </tr>
			<tr><td colspan="3">&nbsp;</td></tr>
            <tr>
                <th colspan="3"><legend>{{'label.comments'|trans([],'BoAdminBundle')}}</legend></th>
            </tr>
            <tr>
                <td colspan="3">{{ ticket.comments }}</td>
            </tr>
			<tr><td colspan="3">&nbsp;</td></tr>
        </tbody>
    </table>
