{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.contractual'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.contractual'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('contractual_edit',{'id':contractual.id}) }}" method="post" class="style">
			{{ form_errors(contractual_editform) }}
			{%include "BoAdminBundle:Contractual:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Contractual:editform.html.twig"%}
			</div>
			{{ form_rest(contractual_editform) }}
		</form>	
	</div>
{% endblock %}
