	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
				{%if app.session.get('rights')['STAFF']['Employees'] is defined and app.session.get('rights')['STAFF']['Employees'].search==1%}
					<td class="form-group">
						<input type="text" class="form-control" id="inp-search">
					</td>
					<td><button type="submit" id="btn-search">{{'action.search'|trans([],'BoAdminBundle')}}</button></td>
				{%endif%}
				{%if app.session.get('rights')['STAFF']['Employees'] is defined and app.session.get('rights')['STAFF']['Employees'].creation==1%}
					<td>
						<button type="button" class="btn btn-info btn-lg modal-create" data-toggle="modal" data-target="#add_advisor">{{'action.add'|trans([],'BoAdminBundle')}}</button>
					</td>
				{%endif%}
				{%if app.session.get('rights')['STAFF']['Employees'] is defined and app.session.get('rights')['STAFF']['Employees'].liste==1%}		
					<td class="list_link">
						<a href="{{ path('advisors_index') }}">{{'title.list'|trans([],'BoAdminBundle')}}</a>
					</td>
					<td class="total_number">
						<button type="button" class="btn btn-primary">
							Total {{'entity.advisors'|trans([],'BoAdminBundle')}} <span class="badge">{{total|number_format(0,""," ")}}</span>
						</button>
					</td>
				{%endif%}
				</tr>
			</table>		
		</div>
	</div>	
