	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
			<th width="40%" class="sty_label">{{'label.pa'|trans([],'BoAdminBundle')}}</th>
            <th width="40%" class="sty_label">{{'label.substitute'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{% include 'BoAdminBundle:Advisors:selectadvisor.html.twig' %}</td>
			<td>{% include 'BoAdminBundle:Advisors:selectsubtitute.html.twig' %}</td>		
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.contracttype'|trans([],'BoAdminBundle')}}</th>
            <th class="sty_label">{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
		</tr> 
		<tr>
			<td>{{ form_widget(edit_form.typecontract, {'attr' : {'class' : 'typecontract span3'}}) }}</td>	
			<td>{{ form_widget(edit_form.creationdate) }}</td>	
		</tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr>
				<th class="sty_label">{{'label.workfields'|trans([],'BoAdminBundle')}}</th>
				<th class="sty_label">{{'label.adminhour'|trans([],'BoAdminBundle')}}</th>
			</tr> 
			<tr>	
				<td class='advisor_wkfield'>
					{{ form_widget(edit_form.workfields) }}				
				</td>
			<td>{{ form_widget(edit_form.adminhour) }}</td>	
			</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
	</table>