	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            		<th class="sty_label">{{'label.name'|trans([],'BoAdminBundle')}}</th>
            		<th class="sty_label">{{'label.order'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_question.name) }}</td>	
			<td>{{ form_widget(edit_question.qorder) }}</td>	
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.noa'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.noa'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_question.noa) }}</td>	
			<td>{{ form_widget(edit_question.score) }}</td>	
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            	<th class="sty_label" colspan="2">{{'label.content'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td colspan="2">
				{{ tinymce_init() }}
				{{ form_widget(edit_question.content) }}
			</td>	
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
	</table>

