	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td>
						<a href="{{ path('rubric_index') }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
					<!--td>
						<a href="{{ path('rubric_edit', { 'id': rubric.id }) }}">Edit</a>
					</td>
					<td>
						<a href="{{ path('rubric_new') }}">{{'action.add'|trans([],'BoAdminBundle')}}</a>
					</td-->
				</tr>
			</table>		
		</div>
	</div>	