{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.substitution'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}	
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.substitution'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('substitution_edit',{'id':substitution.id}) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Substitution:editactions.html.twig"%}
			<div class="show_content">			
				{%include "BoAdminBundle:Substitution:editform.html.twig"%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
	{% block javascripts %}
		<script>
			$("document").ready(function(){
				$(".schedule_content").show();	
				return false;				
			});
			$("#holders").change(function(){
				$(".schedule_content").show();
				$('.schedule_content').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#holders option:selected");
				holders=str.val();
				idcontract = $("#idcontract").val();
				idgroup = $("#idgroup").val();
				var obj = $("#ddate");
				ddate = obj.val();
				var DATA = 'data='+holders+"-"+idcontract+"-"+idgroup+"-"+ddate;
				$.ajax({
					type: "POST",
					url: "{{ path('substitution_reload2')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('.schedule_content').html(data);
					}
				});
				return false;
			});	
			$("#btn-create").click(function(){
				var str=$("#holders option:selected");
				holders=str.val();
				var str=$("#teachers option:selected");
				teachers=str.val();
				if(holders==0){
					alert("You have to select a holder!");
					return false;
				}
				if(teachers==0){
					alert("You have to select a substitute!");
					return false;
				}
				return true;
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}
