{% extends 'base2.html.twig' %}
{% block title %}{{parent()}}- {{'entity.substitution'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}	
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.substitution'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoAdminBundle:Substitution:actions.html.twig"%}					
{% endblock %}
{% block body %}
	{%if total is defined and total>nb_cpp%}
	<div class="pagination_content">
		{% include 'BoAdminBundle:Substitution:pagination.html.twig' %}
	</div>
	{%endif%}
	<div id="content-liste">
		{%include "BoAdminBundle:Substitution:tbliste.html.twig"%}
	</div>
	{% block javascripts %}
		<script>
			$("#idpage").change(function(){
				var str=$("#idpage option:selected");
				page=str.text();
				var DATA = 'motcle=' + page;
				$.ajax({
					type: "POST",
					url: "{{ path('substitution_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});	
			$("#btn-search").click(function(){
				if($("#inp-search").val()==""){
					alert("Search fields is empty!");
					return false;
				}
				var criteria = $("#inp-search").val();				
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$(".pagination_content").hide();
				$(".total_number").hide();
				$(".list_link").show();
				var DATA = 'description=' + criteria;
				$.ajax({
					type: "POST",
					url: "{{ path('substitution_search')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#holders").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#holders option:selected");
				holder=str.val();
				var start = $(".start").val();
				var end = $(".end").val();
				var DATA = 'data=' + holder+':'+start+":"+end;
				$(".pagination_content").hide();
				$.ajax({
					type: "POST",
					url: "{{ path('substitution_holder')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#substitute").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#substitute option:selected");
				substitute=str.val();
				//alert(substitute);
				//return false;
				var start = $(".start").val();
				var end = $(".end").val();
				var DATA = 'data=' + substitute+':'+start+":"+end;
				$(".pagination_content").hide();
				$.ajax({
					type: "POST",
					url: "{{ path('substitution_substitute')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}
