{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.otherprices'|trans([],'BoAdminBundle')}} >> {{'title.show'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}	
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.otherprices'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('otherprices_edit',{'id':otherprice.id}) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Otherprices:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Otherprices:editform.html.twig"%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
