{% extends 'home2.html.twig' %}
{% block title %}{{parent()}}- {{'entity.documents'|trans([],'BoAdminBundle')}} >> {{'entity.timesheet'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoHomeBundle:Default:document.html.twig"%}{% endblock %}
{% block nav %}{%if employee!=null%}{%include "BoHomeBundle:Contracts:rightshow.html.twig"%}{%endif%}{% endblock %}
{% block label %}<h1>{{'entity.documents'|trans([],'BoAdminBundle')}} >> {{'entity.timesheet'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoHomeBundle:Tsdoc:actions.html.twig"%}					
{% endblock %}
{% block body %}
	{%if total is defined and total>nb_cpp%}
	<div class="pagination_content">
		{% include 'BoHomeBundle:Tsdoc:pagination.html.twig' %}
	</div>
	{%endif%}
	<div id="content-liste">
		{%include "BoHomeBundle:Tsdoc:tbliste.html.twig"%}
	</div>
	<input type="hidden" id="idemployee" value="{{employee.id}}"/>		
	<!-- Begin employee document deleting -->
	{%for tsdoc in tsdocs%}
		<div class="container">
		  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">{{'message.alert.delete'|trans([],'BoAdminBundle')}}</h4>
				</div>
				<div class="modal-body">
				  <p>{{'message.confirm.delete'|trans([],'BoAdminBundle')}}</p>
				</div>
				<div class="modal-footer">
					{{ form_start(tsdoc_delete_form[tsdoc.id]) }}
						<input type="submit" value="{{'action.confirm'|trans([],'BoAdminBundle')}}">
					{{ form_end(tsdoc_delete_form[tsdoc.id]) }}
				</div>
			  </div>
			  
			</div>
		  </div>
		</div>
	{%endfor%}
	<!-- End employee document deleting -->
	
	<div class="container">
		<!-- Modal -->
		<div class="modal fade" id="add_tsdoc" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  	<button type="button" class="close" data-dismiss="modal">&times;</button>
				  	<h4 class="modal-title">{{'label.adddocument'|trans([],'BoAdminBundle')}}</h4>
					<div id="error_message" align="center"></div>
				</div>
				<form action="{{ path('home_tsdoc_new') }}" enctype="multipart/form-data" method="post" class="style">
					<div class="modal-body">
						<div id=records_entity>
							{{ form_errors(form) }}
								{%include "BoHomeBundle:Tsdoc:newform.html.twig"%}
							{{ form_rest(form) }}
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" value="{{'action.create'|trans([],'BoAdminBundle')}}" id="btn-create">
					</div>
				</form>	
			  </div>
			  
			</div>
		</div>
	</div>
	{% block javascripts %}
		<script>
			$("#btn-create").click(function(){
				if($(".startdate").val()>=$(".enddate").val()){
					$('#error_message').html("startdate can not be equal to or greater than the end date!");
					return false;
				}
				return true;
			});
			$("#idpage").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idpage option:selected");
				page=str.text();
				var idemployee = $("#idemployee").val();
				var DATA = 'motcle=' + page+"-"+idemployee;
				$.ajax({
					type: "POST",
					url: "{{ path('home_tsdoc_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});	
			$("#btn-search").click(function(){
				if($("#inp-search").val()==""){
					alert("Search fields is empty!");
					return false;
				}
				var criteria = $("#inp-search").val();				
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$(".pagination_content").hide();
				$(".total_number").hide();
				$(".list_link").show();
				var DATA = 'description=' + criteria;
				$.ajax({
					type: "POST",
					url: "{{ path('home_tsdoc_search')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/bootstrap/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.min.js') }}"></script>
	{% endblock %}
{% endblock %}
