{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prices</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ price.id }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if price.startdate %}{{ price.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if price.enddate %}{{ price.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prices_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('prices_edit', { 'id': price.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
