{% extends 'base2.html.twig' %}
{% block title %}{{parent()}}- {{'entity.setting'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:setting.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.setting'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('param_edit',{'id':param.id}) }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdminBundle:Param:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Param:editform.html.twig"%}
				<br/>
			</div>
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
