    <table width="100%">
        <tbody>
            <tr>
                <th>Id</th>
				<th>Monday</th>
                <th>Tuesday</th>
				<th>Wednesday</th>
            </tr>
            <tr>
                <td>{{ modelts.id }}</td>
                <td>{% if modelts.monday %}Yes{% else %}No{% endif %}</td>
				<td>{% if modelts.tuesday %}Yes{% else %}No{% endif %}</td>
				<td>{% if modelts.wednesday %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <th>Thursday</th>
				<th>Friday</th>
                <th>Saturday</th>
				<th>Startam</th>
            </tr>
            <tr>
                <td>{% if modelts.thursday %}Yes{% else %}No{% endif %}</td>
                <td>{% if modelts.friday %}Yes{% else %}No{% endif %}</td>
				<td>{% if modelts.saturday %}Yes{% else %}No{% endif %}</td>
				<td>{% if modelts.startam %}{{ modelts.startam|date('H:i:s') }}{% endif %}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>Endam</th>
				<th>Startpm</th>
                <th>Endpm</th>
				<th>Hour</th>
            </tr>
            <tr>
                <td>{% if modelts.endam %}{{ modelts.endam|date('H:i:s') }}{% endif %}</td>
                <td>{% if modelts.startpm %}{{ modelts.startpm|date('H:i:s') }}{% endif %}</td>
				<td>{% if modelts.endpm %}{{ modelts.endpm|date('H:i:s') }}{% endif %}</td>
				<td>{{ modelts.hour }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th colspan="4">Creationdate</th>
            </tr>
            <tr>
                <td colspan="4">{% if modelts.creationdate %}{{ modelts.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
        </tbody>
    </table>
