    <table>
        <tbody>
            <tr>
                <th>Id</th>
				<th>Extension</th>
                <th>Target</th>
            </tr>
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.extension }}</td>
				<td>{{ document.target }}</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <th>Name</th>
				<th>Path</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{ document.name }}</td>
                <td>{{ document.path }}</td>
				<td>{{ document.status }}</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
				<th>Creationdate</th>
			    <th>Createdby</th>
                <th>Description</th>
            </tr>
            <tr>                
                <td>{% if document.creationdate %}{{ document.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
				<td>{{ document.createdby }}</td>
				<td>{{ document.description }}</td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
        </tbody>
    </table>
