    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typet in typets %}
            <tr>
                <td>{{ typet.id }}</a></td>
                <td>{{ typet.name }}</td>
                <td>{% if typet.creationdate %}{{ typet.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="list-action">
                    <a href="{{ path('typets_edit', { 'id': typet.id }) }}">{{'action.edit'|trans([],'BoAdminBundle')}}</a>
                </td>
            </tr>
		{%else%}
			<tr><td colspan="4">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>