{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.tickets'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:admin.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.tickets'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('dash_tickets_edit',{'id':ticket.id}) }}" enctype="multipart/form-data" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdvisorsBundle:Tickets:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdvisorsBundle:Tickets:editform.html.twig"%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
