		<div class="panel panel-default">
			<div class="panel-heading">{{'title.usefullinks'|trans([],'BoAdminBundle')}}</div>
			<div class="panel-body noframe">
				<ol type="1">
					<li>To see my learning contacts >> <a href="{{ path('bo_home_teamcontact') }}">{{'layout.menu.teamcontacts'|trans([],'BoAdminBundle')}}</a></li>
					<li>To see my currents contracts >> <a href="{{ path('bo_home_contract') }}">{{'layout.menu.contracts'|trans([],'BoAdminBundle')}}</a></li>
					<li>To make an absence request >> <a href="{{ path('home_absences_new') }}">{{'layout.menu.absence'|trans([],'BoAdminBundle')}}</a></li>
					<li>To create a timesheet >> <a href="{{ path('home_timesheet_index') }}">{{'layout.menu.absence'|trans([],'BoAdminBundle')}}</a></li>
				</ol>
			</div>
		</div>