    <table class="table table-bordered records_list">
        <thead>
            <tr>
		<th width="3%">{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th width="4%">{{'label.type'|trans([],'BoAdminBundle')}}</th>
                <th width="9%">{{'label.group'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.student'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.number'|trans([],'BoAdminBundle')}}</th>
                <th width="6%">{{'label.field'|trans([],'BoAdminBundle')}}</th>
                <th width="3%">{{'label.room'|trans([],'BoAdminBundle')}}</th>
                <th width="13%">{{'label.teacher'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.advisor'|trans([],'BoAdminBundle')}}</th>
                <th width="7%">{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th width="7%">{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
                <th width="120px">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in absence.contracts %}
		{%if subcontform[contract.id] is defined%}
		    <tr>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>{{ contract.id }}</td>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>{{ contract.typecontract }}</td>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>
					{%if contract.group%}{{ contract.group.name }}{%else%}N/A{%endif%}</td>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>
				{%if contract.students is defined and contract.students|length==1%}
					{%for student in contract.students %}
						{{ student.firstname }} {{ student.name }}
					{%else%}
						---
					{%endfor%}				
				{%endif%}
			</td>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>{{ contract.contractnumber }}</td>
					<td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>{%if contract.workfields%}{{ contract.workfields }}{%else%}N/A{%endif%}</td>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>
				{%if contract.local is defined and contract.local|length==1%}
					{%for room in contract.local %}
						{{ room.reference }}
					{%endfor%}
				{%elseif contract.group and contract.group.local is defined and contract.group.local|length==1%}
					{%for room in contract.group.local %}
						{{ room.reference }}
					{%endfor%}
				{%else%}
					---				
				{%endif%}
			</td>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>
				{%if employee is defined%}
					{{ employee.firstname }} {{ employee.name }}
				{%else%}
					---
				{%endif%}
			</td>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>{%if contract.advisor%}{{ contract.advisor.firstname }} {{ contract.advisor.name }}{%else%}---{%endif%}</td>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>{% if contract.startdate %}{{ contract.startdate|date('Y-m-d') }}{% endif %}</td>
		        <td {%if contract.status==0%}class="completed_contracts"{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}class="wax_3d_1"{%endif%}>{% if contract.enddate %}{{ contract.enddate|date('Y-m-d') }}{% endif %}</td>
		        <td class="list-action {%if contract.status==0%}completed_contracts{%elseif (contract.status==1 or contract.status==2) and contract.startdate>=now%}wax_3d_1{%endif%}" nowrap>
				{%if app.session.get('rights')['STAFF']['Substitution'] is defined and app.session.get('rights')['STAFF']['Substitution'].creation==1 and esc[contract.id] is defined and esc[contract.id]==1 %}
				<button type="button" class="btn btn-info btn-lg modal-create" data-toggle="modal" data-target="#add_subscont{{contract.id}}">{{'label.addsubstitution'|trans([],'BoAdminBundle')}}</button>
				{%endif%}                
			</td>
		    </tr>
		{%endif%}  
	{%else%}
		<tr><td colspan="12">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
