    <table width="80%">
        <tbody>
            <tr>
				<th width="22%">{{'label.motif'|trans([],'BoAdminBundle')}}</th>  
                <th width="22%">{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th width="22%">{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
				<th width="22%">{{'label.numberday'|trans([],'BoAdminBundle')}}</th>  				
            </tr>
            <tr>
                <td>{{ absence.motif }}</td>
                <td>{% if absence.startdate %}{{ absence.startdate|date('Y-m-d') }}{% endif %}</td>
				<td>{% if absence.enddate %}{{ absence.enddate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ absence.numberday }}</td>  
            </tr>
			<!--tr><td colspan="4">&nbsp;</td></tr>
            <tr>
                <th>{{'label.startam'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.endam'|trans([],'BoAdminBundle')}}</th> 
                <th>{{'label.startpm'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.endpm'|trans([],'BoAdminBundle')}}</th>  				
            </tr>
            <tr>
                <td>{% if absence.startam%}{{ absence.startam|date('H:i') }}{%else%}00:00{% endif %}</td>
                <td>{% if absence.endam%}{{ absence.endam|date('H:i') }}{%else%}00:00{% endif %}</td>
                <td>{% if absence.startpm%}{{ absence.startpm|date('H:i') }}{%else%}00:00{% endif %}</td>
                <td>{% if absence.endpm%}{{ absence.endpm|date('H:i') }}{%else%}00:00{% endif %}</td>
            </tr-->
			<tr><td colspan="4">&nbsp;</td></tr>
            <tr>
				<th>{{'label.amorpm'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.status'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.createdby'|trans([],'BoAdminBundle')}}</th>
                <th colspan="3">{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>
				<td>{{ absence.amorpm }}</td>			
                		<td>{%if absence.status==1 %}Submitt{%elseif absence.status==4%}Validated{%elseif absence.status==3%}rejected{%endif%}</td>
               			<td>{% if absence.createby %}{{ absence.createby }}{% else %}---{% endif %}</td>
               			<td>{% if absence.creationdate %}{{ absence.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			{%if absence.comment%}
            <tr>
                <th colspan="4">Comment</th>
            </tr>
            <tr>
                <td colspan="4">{{ absence.comment }}</td>
            </tr>
			<tr><td colspan="4">&nbsp;</td></tr>
			{%endif%}
        </tbody>
    </table>
	<br/>
