    <table>
        <tbody>
            <tr>
                <th width="24%">{{'label.id'|trans([],'BoAdminBundle')}}</th>
				<th width="24%">{{'label.name'|trans([],'BoAdminBundle')}}</th>
				<th width="24%">{{'label.firstname'|trans([],'BoAdminBundle')}}</th>
				<th width="24%">{{'label.email'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>
                <td>{{ teachers.id }}</td>
                <td>{{ teachers.name }}</td>
				<td>{{ teachers.firstname }}</td>
				<td>{{ teachers.email }}</td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>
            <tr>
				<th>{{'label.status'|trans([],'BoAdminBundle')}}</th>
				<th>Qualification</th>
				<th>{{'label.language'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>
                <td>{{ teachers.status }}</td>
				<td>{{ teachers.typecontract }}</td>
				<td>{{ teachers.language }}</td>
            </tr>
            <tr><td colspan="4">&nbsp;</td></tr>
            <tr>
                <th>{{'label.homenumber'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.cellnumber'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.address'|trans([],'BoAdminBundle')}} 1</th>
				<th>{{'label.address'|trans([],'BoAdminBundle')}} 2</th>
            </tr>
            <tr>
                <td>{%if teachers.homenumber %}{{ teachers.homenumber }}{%else%}---{% endif %}</td>
                <td>{%if teachers.cellnumber %}{{ teachers.cellnumber }}{%else%}---{% endif %}</td>
                <td>{%if teachers.address1 %}{{ teachers.address1 }}{%else%}---{% endif %}</td>
                <td>{%if teachers.address2 %}{{ teachers.address2 }}{%else%}---{% endif %}</td>
            </tr>
			<tr><td colspan="4">&nbsp;</td></tr>
            <tr>               
				<th>Category</th>
				<th>Type teacher</th>

            </tr>
            <tr>
				<td>{%if teachers.categoryteacher %}{{ teachers.categoryteacher }}{%else%}---{% endif %}</td>
                <td>{% if teachers.securitycote==1%}Oui{%else%}Non{%endif%}</td>
				<td>{%if teachers.typeteacher %}{{ teachers.typeteacher }}{%else%}---{% endif %}</td>               
            </tr>
			<tr><td colspan="4">&nbsp;</td></tr>
            <tr>

                <th>{{'label.birthdate'|trans([],'BoAdminBundle')}}</th>
                <th>Hiringdate</th>
				<th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>
                <td>{% if teachers.birthdate %}{{ teachers.birthdate|date('Y-m-d') }}{%else%}---{% endif %}</td>
                <td>{% if teachers.hiringdate %}{{ teachers.hiringdate|date('Y-m-d') }}{%else%}---{% endif %}</td>
				<td>{% if teachers.creationdate %}{{ teachers.creationdate|date('Y-m-d H:i:s') }}{%else%}---{% endif %}</td>
                
            </tr>
			<tr><td colspan="4">&nbsp;</td></tr>
        </tbody>
    </table>