{% extends 'base.html.twig' %}

{% block body %}
    <h1>Answers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Quizuuid</th>
                <th>Response</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td><a href="{{ path('answer_show', { 'id': answer.id }) }}">{{ answer.id }}</a></td>
                <td>{{ answer.quizUuid }}</td>
                <td>{{ answer.response }}</td>
                <td>{% if answer.created %}{{ answer.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('answer_show', { 'id': answer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('answer_edit', { 'id': answer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('answer_new') }}">Create a new answer</a>
        </li>
    </ul>
{% endblock %}
