{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.documents'|trans([],'BoAdminBundle')}} >> {{'title.show'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:tools.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.documents'|trans([],'BoAdminBundle')}} >> {{'title.show'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		{%include "BoAdminBundle:Documents:showactions.html.twig"%}
		<div class="show_content">
			{%include "BoAdminBundle:Documents:show.html.twig"%}
		</div>
	</div>
	{% block javascripts %}
		<script>
		
		
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}
