    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.quiz'|trans([],'BoAdminBundle')}} {{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.start'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.end'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.result'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.time'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for result in results %}
		{%set minutes=result.ttime/60%}
		{%if quizzes[result.idquiz] is defined%}{%set quiz = quizzes[result.idquiz] %}{%endif%}
            <tr>
                <td>{{ result.id }}</a></td>
                <td>{%if quiz is defined%}{{ quiz.name }}{%endif%}</td>
                <td>{{ result.start|date('Y-m-d H:i:s') }}</td>
                <td>{{ result.end|date('Y-m-d H:i:s') }}</td>
                <td>{{ result.result }}</td>
                <td>{{ minutes|number_format(2,"."," ") }} mn</td>
                <td>{% if result.creationdate %}{{ result.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="list-action">
                    	<a href="{{ path('resultsquiz_show', { 'id': result.id}) }}">{{'action.show'|trans([],'BoAdminBundle')}}</a>
		</td>
            </tr>
	{%else%}
		<tr><td colspan="10">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
