{% extends 'base.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.teacherschedule'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('teacherschedule_new',{'idcontract':idcontract}) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:TeacherSchedule:newactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:TeacherSchedule:newform.html.twig"%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
