	
	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					{%if app.session.get('rights')['ACCOUNTING']['Timesheet'] is defined and app.session.get('rights')['ACCOUNTING']['Timesheet'].ddelete==1%}	
						<td>
							<button type="button" class="btn btn-info btn-lg modal-delete" data-toggle="modal" data-target="#myModal">
								{{'action.delete'|trans([],'BoAdminBundle')}}
							</button>
						</td>
					{%endif%}
					{%if app.session.get('rights')['ACCOUNTING']['Timesheet'] is defined and app.session.get('rights')['ACCOUNTING']['Timesheet'].edit==1%}	
						<td>
							<button type="button" class="btn btn-info btn-lg modal-create" data-toggle="modal" data-target="#edit_ts">
								{{'action.edit'|trans([],'BoAdminBundle')}} {{'label.timesheet'|trans([],'BoAdminBundle')}}
							</button>
						</td>
					{%endif%}
					<td>
						<a href="{{path('payroll_timesheet_back')}}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
				</tr>
			</table>		
		</div>
	</div>	