{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.status'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:setting.html.twig"%}{% endblock %}
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.status'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block body %}
	<div id="body-content">
		<form action="{{ path('status_new') }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Status:newactions.html.twig"%}
			{%include "BoAdminBundle:Status:newform.html.twig"%}
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
