    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th width="15%">{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th width="40%">{{'label.email'|trans([],'BoAdminBundle')}}</th>
                <th width="15%">{{'label.phone'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ evaluation.contact }}</td>
                <td>{{ evaluation.emailcontact }}</td>
                <td>{{ evaluation.phonecontact }}</td>
            </tr>
        </tbody>
    </table>