	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th width=40%>{{'label.evaltype'|trans([],'BoAdminBundle')}}</th>		
			<th width=40%>{{'label.options'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>		
			<td>{{ form_widget(form.evaltype, {'attr' : {'class' : 'evaltype span3'}}) }}</td>
			<td>{{ form_widget(form.options, {'attr' : {'class' : 'evaluator span3'}}) }}</td>	
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
			<th>{{'label.evaluator'|trans([],'BoAdminBundle')}}</th>
            		<th>{{'label.typeoftraining'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>		
			<td>{{ form_widget(form.evaluator, {'attr' : {'class' : 'evaluator span3'}}) }}</td>	
			<td>{{ form_widget(form.typeoftraining) }}</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th>{{'label.evaldate'|trans([],'BoAdminBundle')}}</th>  
			<th>{{'label.duration'|trans([],'BoAdminBundle')}}</th>  			
		</tr>
		<tr>
			<td>{{ form_widget(form.evaldate) }}</td>	
			<td>{{ form_widget(form.duration) }}</td>					
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th>{{'label.start'|trans([],'BoAdminBundle')}}</th>
			<th>{{'label.end'|trans([],'BoAdminBundle')}}</th>    			
		</tr>
		<tr>
			<td>{{ form_widget(form.evaltime) }}</td>	
			<td>{{ form_widget(form.endtime) }}</td>					
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th>{{'label.language'|trans([],'BoAdminBundle')}}</th>	
			<th>{{'label.ftorpt'|trans([],'BoAdminBundle')}}</th>			
		</tr>
		<tr>			
			<td>{{ form_widget(form.languages) }}</td>
			<td>{{ form_widget(form.typetime) }}</td>			
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            		<th>{{'label.online'|trans([],'BoAdminBundle')}}</th>
			<th>{{'label.notification'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.online) }}</td>
			<td>{{ form_widget(form.notification) }}</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th colspan="2">{{'label.situation'|trans([],'BoAdminBundle')}}</th>			
		</tr>
		<tr>
			<td colspan="2">{{ form_widget(form.situation) }}</td>			
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th>{{'label.firstname'|trans([],'BoAdminBundle')}}</th>
			<th>{{'label.name'|trans([],'BoAdminBundle')}}</th>		
		</tr>
		<tr>
			<td>{{ form_widget(form.firstname, {'attr' : {'class' : 'firstname span3'}}) }}</td>			
			<td>{{ form_widget(form.name, {'attr' : {'class' : 'name span3'}}) }}</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            <th>{{'label.title'|trans([],'BoAdminBundle')}}</th>
			<th>{{'label.phone'|trans([],'BoAdminBundle')}}</th>	
		</tr>
		<tr>		
			<td>{{ form_widget(form.title) }}</td>
			<td>{{ form_widget(form.phone) }}</td>			
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            <th>{{'label.studentemail'|trans([],'BoAdminBundle')}}</th>
			<th>{{'label.expenses'|trans([],'BoAdminBundle')}}</th>	
		</tr>
		<tr>		
			<td>{{ form_widget(form.emailstudent) }}</td>
			<td>{{ form_widget(form.expenses) }}</td>		
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            <th>{{'label.currentprofile'|trans([],'BoAdminBundle')}}</th>
            <th>{{'label.targetprofile'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.currentprofile) }}</td>		
			<td>{{ form_widget(form.targetprofile) }}</td>				
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            <th>{{'label.customer'|trans([],'BoAdminBundle')}} (<span class="customer_detail">{{'label.customerdetail'|trans([],'BoAdminBundle')}}</span>)</th>
            <th>{{'label.contact'|trans([],'BoAdminBundle')}}</th>			
		</tr>
		<tr>
			<td>{{ form_widget(form.customer) }}</td>	
			<td>{{ form_widget(form.contact) }}</td>
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th>{{'label.contactemail'|trans([],'BoAdminBundle')}}</th>
			<th>{{'label.contactphone'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.emailcontact) }}</td>
			<td>{{ form_widget(form.phonecontact) }}</td>					
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th>{{'label.billingcontact'|trans([],'BoAdminBundle')}}</th>
			<th>{{'label.billingemail'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.billingcontact) }}</td>
			<td>{{ form_widget(form.billingemail) }}</td>					
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th>{{'label.billingphone'|trans([],'BoAdminBundle')}}</th>
			<th>{{'label.location'|trans([],'BoAdminBundle')}}</th>			
		</tr>
		<tr>
			<td>{{ form_widget(form.billingphone) }}</td>	
			<td>{{ form_widget(form.evallocation, {'attr' : {'class' : 'evallocation span3'}}) }}</td>			
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>	
		<tr>
			<th>{{'label.campus'|trans([],'BoAdminBundle')}}</th>
			<th>{{'label.address'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.campus, {'attr' : {'class' : 'campusclass span3'}}) }}</td>
			<td>{{ form_widget(form.addresse, {'attr' : {'class' : 'addressclass span3'}}) }}</td>			
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th colspan="2">{{'label.comment'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td colspan="2">{{ form_widget(form.comment, {'attr' : {'class' : 'campusclass span3'}}) }}</td>		
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>			
	</table>
	{%for campus in campuss%}
		<input type="hidden" id="{{campus.reference}}" name="{{campus.reference}}" value="{{campus.address}}"/>
	{%endfor%}
