{% extends 'base2.html.twig' %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}	
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.clearance'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoAdminBundle:Securitycote:actions.html.twig"%}					
{% endblock %}
{% block body %}
	{%if total is defined and total>nb_cpp%}
	<div class="pagination_content">
		{% include 'BoAdminBundle:Securitycote:pagination.html.twig' %}
	</div>
	{%endif%}
	<div id="content-liste">
		{%include "BoAdminBundle:Securitycote:tbliste.html.twig"%}
	</div>
	<div class="container">
		<!-- Modal -->
		<div class="modal fade" id="add_sc" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">{{'action.add'|trans([],'BoAdminBundle')}} {{'entity.clearance'|trans([],'BoAdminBundle')}}</h4>
				</div>
				<form action="{{ path('securitycote_new') }}" method="post" class="style">
					<div class="modal-body">
						{{ form_errors(form) }}
						{%include "BoAdminBundle:Securitycote:modalform.html.twig"%}
						{{ form_rest(form) }}
					</div>
					<div class="modal-footer">
						<input type="submit" value="{{'action.create'|trans([],'BoAdminBundle')}}">
					</div>
				</form>	
			  </div>
			  
			</div>
		</div>
	</div>
	{% block javascripts %}
		<script>
			$("#idpage").change(function(){
				var str=$("#idpage option:selected");
				page=str.text();
				var DATA = 'motcle=' + page;
				$.ajax({
					type: "POST",
					url: "{{ path('securitycote_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});	
			$("#btn_search").click(function(){
				if($("#inp-search").val()==""){
					alert("Search fields is empty!");
					return false;
				}
				var criteria = $("#inp-search").val();	
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$(".pagination_content").hide();
				$(".list_link").show();
				var DATA = 'description=' + criteria;
				$.ajax({
					type: "POST",
					url: "{{ path('securitycote_search')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/bootstrap/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.min.js') }}"></script>
		<!--script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script-->
	{% endblock %}
{% endblock %}
