	<table border="0" cellpadding="0" cellspacing="0" id="new_row">	
		<tr>
			<th class="sty_label" colspan="4">{{'label.employee'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>				
			<td colspan="4">
				{%if employees is defined and employees|length>0%}				
					<select name='idteacher' id='teachers' class="idteacher" required="true">
						<option value="0" selected="selected">Select a teachers</option>
						{%for admin in employees%}
							<option value="{{admin.id}}" {%if idadmin is defined and admin.id==idadmin%}selected='selected'{%endif%}>{{admin.firstname}} {{admin.name}}</option>
						{%endfor%}
					</select>
				{%else%}
					<input type="text" value="{{employee.firstname}} {{employee.name}}" disabled/>
				{%endif%}	
			</td>		
		</tr>	
		<tr><td colspan="4">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.hourperday'|trans([],'BoAdminBundle')}}</th>	
			<td>&nbsp;</td>			
		</tr>
		<tr>				
			<td>{{ form_widget(asc_form.startdate, {'attr' : {'class' : 'asc_start span3'}}) }}</td>
			<td>{{ form_widget(asc_form.enddate, {'attr' : {'class' : 'asc_end span3'}}) }}</td>	
			<td>{{ form_widget(asc_form.hourperday, {'attr' : {'class' : 'hourperday span3'}}) }}</td>	
			<td>&nbsp;</td>				
		</tr>	
		<tr><td colspan="4">&nbsp;</td></tr>
		<tr>
			<td colspan="4">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">		
					<tr>
						<th class="sty_label">{{'label.startam'|trans([],'BoAdminBundle')}}</th>
						<th class="sty_label">{{'label.endam'|trans([],'BoAdminBundle')}}</th>
						<th class="sty_label">{{'label.startpm'|trans([],'BoAdminBundle')}}</th>
						<th class="sty_label">{{'label.endpm'|trans([],'BoAdminBundle')}}</th>
					</tr>
					<tr>
						<td>{{ form_widget(asc_form.startam, {'attr' : {'class' : 'startam span3'}}) }}</td>
						<td>{{ form_widget(asc_form.endam, {'attr' : {'class' : 'endam span3'}}) }}</td>	
						<td>{{ form_widget(asc_form.startpm, {'attr' : {'class' : 'startpm span3'}}) }}</td>
						<td>{{ form_widget(asc_form.endpm, {'attr' : {'class' : 'endpm span3'}}) }}</td>				
					</tr>
				</table>
			</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>			
	</table>
	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
			<th width="15%" class="sty_label">{{'label.monday'|trans([],'BoAdminBundle')}}</th>
            		<th width="15%" class="sty_label">{{'label.tuesday'|trans([],'BoAdminBundle')}}</th>
			<th width="15%" class="sty_label">{{'label.wednesday'|trans([],'BoAdminBundle')}}</th>
			<th width="15%" class="sty_label">{{'label.thursday'|trans([],'BoAdminBundle')}}</th>
            		<th width="15%" class="sty_label">{{'label.friday'|trans([],'BoAdminBundle')}}</th>			
		</tr>
		<tr>
			<td class="sty_label">{{ form_widget(asc_form.monday, {'attr' : {'class' : 'cmonday span3'}}) }}</td>
            		<td class="sty_label">{{ form_widget(asc_form.tuesday, {'attr' : {'class' : 'ttuesday span3'}}) }}</td>
			<td class="sty_label">{{ form_widget(asc_form.wednesday, {'attr' : {'class' : 'cwednesday span3'}}) }}</td>
			<td class="sty_label">{{ form_widget(asc_form.thursday, {'attr' : {'class' : 'cthursday span3'}}) }}</td>
            		<td class="sty_label">{{ form_widget(asc_form.friday, {'attr' : {'class' : 'cfriday span3'}}) }}</td>
		</tr>
		<tr><td colspan="5">&nbsp;</td></tr>
	</table>
	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            		<th class="sty_label">{{'label.description'|trans([],'BoAdminBundle')}}</th>			
		</tr>
		<tr>
            		<td class="sty_label">{{ form_widget(asc_form.description, {'attr' : {'class' : 'cfriday span3'}}) }}</td>				
		</tr>
		<tr><td>&nbsp;</td></tr>
	</table>
