		<table width="100%">
			<tr>
                		<th width="20%">{{'label.agendaid'|trans([],'BoAdminBundle')}} </th>
                		<th width="20%">{{'label.contractid'|trans([],'BoAdminBundle')}}</th>
                		<th width="20%">{{'label.groupid'|trans([],'BoAdminBundle')}}</th>
                		<th width="20%">{{'label.employeeid'|trans([],'BoAdminBundle')}}</th>
			</tr>
			<tr>
				<td class="sty_label"><input name="idagenda" id="idagenda" type="text" value="" size="10"/></td>
				<td class="sty_label"><input name="idcontract" id="idcontract" type="text" value="" size="10"/></td>
				<td class="sty_label"><input name="idgroup" id="idgroup" type="text" value="" size="10"/></td>
				<td class="sty_label"><input name="idemployee" id="idemployee" type="text" value="" size="10"/></td>
			</tr>
			<tr><td colspan=4>&nbsp;</td></tr>
			<!--tr>
                		<th width="20%">{{'label.studentname'|trans([],'BoAdminBundle')}} </th>
                		<th width="20%">{{'label.groupname'|trans([],'BoAdminBundle')}} </th>
                		<th width="20%">{{'label.employeename'|trans([],'BoAdminBundle')}}</th>
                		<th width="20%">{{'label.contractnumber'|trans([],'BoAdminBundle')}}</th>
			</tr>
			<tr>
				<td class="sty_label"><input name="studentname" id="studentname" type="text" value="" size="10"/></td>
				<td class="sty_label"><input name="groupname" id="groupname" type="text" value="" size="10"/></td>
				<td class="sty_label"><input name="teachername" id="teachername" type="text" value="" size="10"/></td>
				<td class="sty_label"><input name="contractnumber" id="contractnumber" type="text" value="" size="10"/></td>
			</tr>
			<tr><td colspan=4>&nbsp;</td></tr-->
		</table>
