<li {%if sm=="home"%}class="active"{%endif%}>
	<a href="{{ path('bo_student_homepage') }}">
		{{'layout.menu.home'|trans([],'BoAdminBundle')}}
	</a>
</li>
<li {%if sm=="teamcontact"%} class="active"{%endif%}>
	<a href="{{ path('bo_student_teamcontact') }}">
		{{'layout.menu.mycontacts'|trans([],'BoAdminBundle')}}
	</a>
</li>
<li {%if sm=="contract"%} class="active"{%endif%}>
	<a href="{{ path('bo_student_contract') }}">
		{{'layout.menu.contracts'|trans([],'BoAdminBundle')}}
	</a>
</li>
<li {%if sm=="timesheet"%} class="active"{%endif%}>
	<a href="{{ path('student_timesheet_index') }}">
		{{'layout.menu.validation'|trans([],'BoAdminBundle')}}
	</a>
</li>
