    <table>
        <tbody>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <td>{{ categoryroom.id }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>Catname</th>
                <td>{{ categoryroom.catname }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
                <td>{% if categoryroom.creationdate %}{{ categoryroom.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>