{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.group'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}	
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.group'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('group_edit',{'id':group.id}) }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdminBundle:Group:editactions.html.twig"%}
			<div class="show_content">
				{%if employee and employee.profil and employee.profil=="Superadmin"%}
					{%include "BoAdminBundle:Group:editform1.html.twig"%}
				{%else%}
					{%include "BoAdminBundle:Group:editform.html.twig"%}
				{%endif%}
			</div>
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
