{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-{{'label.room'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:local.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'label.room'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('local_edit',{'id':local.id}) }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdminBundle:Local:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Local:editform.html.twig"%}
			</div>	
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
