{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-{{'label.room'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:local.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'label.room'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('local_new') }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Local:newactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Local:newform.html.twig"%}
			</div>			
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
