    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th width="10%">{{'label.firstname'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.email'|trans([],'BoAdminBundle')}}</th>
                <th width="11%">{{'label.phonenumber'|trans([],'BoAdminBundle')}}</th>
                <th width="11%">{{'label.cellnumber'|trans([],'BoAdminBundle')}}</th>
                <th width="14%">{{'label.deletedby'|trans([],'BoAdminBundle')}}</th>
				<th width="13%">{{'label.deleteddate'|trans([],'BoAdminBundle')}}</th>
                <th width="8%">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in supemployees %}
            <tr>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.homenumber }}</td>
                <td>{{ employee.cellnumber }}</td>
                <td>{{ employee.deleteby}}</td>
                <td>{{ employee.deleteddate|date('Y-m-d H:i:s')}}</td>
                <td class="list-action"  width="126px">
                    <a href="{{ path('supemployee_show', { 'id': employee.id }) }}">
						{{'action.show'|trans([],'BoAdminBundle')}}
					</a>
                </td>
            </tr>
		{%else%}
			<tr><td colspan="8">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>