{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-{{'entity.workfield'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:setting.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>Work field edit</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('workfields_edit',{'id':workfield.id}) }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdminBundle:Workfields:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Workfields:editform.html.twig"%}
			</div>
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
