	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="25%" class="sty_label">{{'label.rubric'|trans([],'BoAdminBundle')}}</th>
			<th width="25%" class="sty_label">{{'label.subrubric'|trans([],'BoAdminBundle')}}</th>
			<th width="25%" class="sty_label">{{'label.active'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(right_form.rubric, {'attr' : {'class' : 'idrubric span3'}}) }}</td>
			<td class="select_srubric">
				<select name='idsrubric' id='idsrubric'>
					<option value="0" selected="selected">{{'action.selectsrubric'|trans([],'BoAdminBundle')}}</option>
				</select>	
			</td>	
			<td>{{ form_widget(right_form.active) }}</td>				
		</tr>
		<tr><td colspan='3'>&nbsp;</td></tr>
		<tr>
            <th width="25%" class="sty_label">{{'action.list'|trans([],'BoAdminBundle')}}</th>
			<th width="25%" class="sty_label">{{'action.add'|trans([],'BoAdminBundle')}}</th>
			<th width="25%" class="sty_label">{{'action.edit'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(right_form.liste) }}</td>
			<td>{{ form_widget(right_form.creation) }}</td>
			<td>{{ form_widget(right_form.edit) }}</td>			
		</tr>
		<tr><td colspan='3'>&nbsp;</td></tr>
		<tr>
            <th width="25%" class="sty_label">{{'action.delete'|trans([],'BoAdminBundle')}}</th>
			<th width="25%" class="sty_label">{{'action.search'|trans([],'BoAdminBundle')}}</th>
			<th width="25%" class="sty_label">{{'label.others'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(right_form.ddelete) }}</td>
			<td>{{ form_widget(right_form.search) }}</td>
			<td>{{ form_widget(right_form.others) }}</td>		
		</tr>
		<tr><td colspan='3'>&nbsp;</td></tr>
		<input type="hidden" id="idprofil" value="{{profil.id}}"/>
	</table>