	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td>
						<a href="{{ path('profil_index') }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
					<td>
						{%if rights|length>0%}
							<a href="{{ path('rights_update') }}">Update rights</a>
							<button type="button" class="btn btn-info btn-lg modal-create" data-toggle="modal" data-target="#add_right">{{'action.add'|trans([],'BoAdminBundle')}}</button>	
						{%else%}
							<a href="{{ path('rights_new') }}">Add rights</a>
						{%endif%}
						<a href="{{ path('profil_enableall', { 'id': profil.id }) }}">{{'action.enableall'|trans([],'BoAdminBundle')}}</a>
					</td>
				</tr>
			</table>		
		</div>
	</div>	