    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil in profils %}
			{%if profil.name!= "Teacher"%}
				<tr>
					<td><a href="{{ path('profil_show', { 'id': profil.id }) }}">{{ profil.id }}</a></td>
					<td>{{ profil.name }}</td>
					<td class="list-action">
						<a href="{{ path('profil_show', { 'id': profil.id }) }}">show</a>
						<a href="{{ path('profil_edit', { 'id': profil.id }) }}">{{'action.edit'|trans([],'BoAdminBundle')}}</a>
					</td>
				</tr>
			{%endif%}
		{%else%}
			<tr><td colspan="3">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>