    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.name'|trans([],'BoAdminBundle')}}</th>
				<th>Cration date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td><a href="{{ path('status_show', { 'id': status.id }) }}">{{ status.id }}</a></td>
                <td>{{ status.statusname }}</td>
				<td>{% if status.creationdate %}{{ status.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="list-action">
                    <a href="{{ path('status_show', { 'id': status.id }) }}">show</a>
					{%if app.session.get('rights')['STAFF']['Status'] is defined and app.session.get('rights')['STAFF']['Status'].edit==1%}
						<a href="{{ path('status_edit', { 'id': status.id }) }}">{{'action.edit'|trans([],'BoAdminBundle')}}</a>
					{%endif%}
                </td>
            </tr>
		{%else%}
			<tr><td colspan="4">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>