{% extends 'base.html.twig' %}

{% block body %}
    <h1>TsStudent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tsStudent.id }}</td>
            </tr>
            <tr>
                <th>Legende</th>
                <td>{{ tsStudent.legende }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ tsStudent.status }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if tsStudent.creationdate %}{{ tsStudent.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tsstudent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tsstudent_edit', { 'id': tsStudent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
