{% extends 'base2.html.twig' %}
{% block title %}{{parent()}}- {{'entity.orderform'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:admin.html.twig"%}{% endblock %}
{% block nav %}	
	{%if employee is defined and employee!=null%}{%include "BoAdminBundle:Employee:rightshow.html.twig"%}{%endif%}	
{% endblock %}
{% block label %}<h1>{{'entity.orderform'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoAdvisorsBundle:Orderform:actions.html.twig"%}					
{% endblock %}
{% block body %}
	<!--div class="pagination_content">
		{% include 'BoAdvisorsBundle:Orderform:criteria.html.twig' %}
	</div-->
	<div id="content-liste">
		{%include "BoAdvisorsBundle:Orderform:tbliste.html.twig"%}
	</div>
	{% block javascripts %}
		<script>
			$("#idpage").change(function(){
				var str=$("#idpage option:selected");
				page=str.text();
				var DATA = 'motcle=' + page;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_orderform_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});	
			$("#btn_search").click(function(){
				if($("#inp-search").val()==""){
					alert("Search fields is empty!");
					return false;
				}
				var criteria = $("#inp-search").val();			
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$(".pagination_content").hide();
				$(".list_link").show();
				var DATA = 'description=' + criteria;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_orderform_search')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#idstatus").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idstatus option:selected");
				status=str.val();
				var DATA = 'data='+status;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_orderform_extrasearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}
