{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.orderform'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:admin.html.twig"%}{% endblock %}
{% block nav %}	{%if enquiry!=null%}{%include "BoAdvisorsBundle:Orderform:rightshow.html.twig"%}{%endif%}{% endblock %}
{% block label %}<h1>{{'entity.orderform'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('dash_orderform_new',{'id':enquiry.id}) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdvisorsBundle:Orderform:newactions.html.twig"%}
			<div class="show_content">
				{%if enquiry.typecontract=="NMSO"%}
					{%include "BoAdvisorsBundle:Orderform:newform.html.twig"%}
				{%else%}
					{%include "BoAdvisorsBundle:Orderform:newform2.html.twig"%}
				{%endif%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
	{% block javascripts %}
		<script>
			$(".didmat").change(function(){
				var didmat = $(".didmat").val();
				if(didmat==1){
					$(".didmatprice").show();
					$(".didmatlab").show();
				}else{
					$(".didmatprice").hide();
					$(".didmatlab").hide();
				}
				return false;	
			});
			$(".hoursnumber").change(function(){
				//if hoursnumber is null
				if($(".hoursnumber").val()=="" || $(".hoursnumber").val()==null){
					var hoursnumber=0;
				}else{
					var hoursnumber = parseInt($(".hoursnumber").val());
				}
				//if hourlyrate is null
				if($(".hourlyrate").val()=="" || $(".hourlyrate").val()==null){
					var estimatedcost=0;
				}else{
					var hourlyrate = parseFloat($(".hourlyrate").val());
					var estimatedcost = hoursnumber*hourlyrate;
				}				
				$(".estimatedcost").val(estimatedcost);
				if($(".estimatedcost1").val()=="" || $(".estimatedcost1").val()==null){
					var estimatedcost1=0;
				}else{
					var estimatedcost1=parseFloat($(".estimatedcost1").val());
				}
				if($(".estimatedcost2").val()=="" || $(".estimatedcost2").val()==null){
					var estimatedcost2=0;
				}else{
					var estimatedcost2=parseFloat($(".estimatedcost2").val());
				}
				var totalcost = estimatedcost+estimatedcost1+estimatedcost2;
				$(".totalcost").val(totalcost);
				if($(".hoursnumber1").val()=="" || $(".hoursnumber1").val()==null){
					var hoursnumber1=0;
				}else{
					var hoursnumber1 = parseInt($(".hoursnumber1").val());
				}
				if($(".hoursnumber2").val()=="" || $(".hoursnumber2").val()==null){
					var hoursnumber2=0;
				}else{
					var hoursnumber2 = parseInt($(".hoursnumber2").val());
				}
				var totalhours = hoursnumber+hoursnumber1+hoursnumber2;
				$(".totalhours").val(totalhours);
				return false;
			});
			$(".hourlyrate").change(function(){
				//if hoursnumber is null
				if($(".hoursnumber").val()=="" || $(".hoursnumber").val()==null){
					var hoursnumber=0;
				}else{
					var hoursnumber = parseInt($(".hoursnumber").val());
				}
				//if hourlyrate is null
				if($(".hourlyrate").val()=="" || $(".hourlyrate").val()==null){
					var estimatedcost=0;
				}else{
					var hourlyrate = parseFloat($(".hourlyrate").val());
					var estimatedcost = hoursnumber*hourlyrate;
				}					
				$(".estimatedcost").val(estimatedcost);
				if($(".estimatedcost1").val()=="" || $(".estimatedcost1").val()==null){
					var estimatedcost1=0;
				}else{
					var estimatedcost1=parseFloat($(".estimatedcost1").val());
				}
				if($(".estimatedcost2").val()=="" || $(".estimatedcost2").val()==null){
					var estimatedcost2=0;
				}else{
					var estimatedcost2=parseFloat($(".estimatedcost2").val());
				}
				var totalcost = estimatedcost+estimatedcost1+estimatedcost2;
				$(".totalcost").val(totalcost);
				return false;
			});
			$(".hoursnumber1").change(function(){
				//if hoursnumber1 is null
				if($(".hoursnumber1").val()=="" || $(".hoursnumber1").val()==null){
					var hoursnumber1=0;
				}else{
					var hoursnumber1 = parseInt($(".hoursnumber1").val());
				}
				//if hourlyrate is null
				if($(".hourlyrate1").val()=="" || $(".hourlyrate1").val()==null){
					var estimatedcost1=0;
				}else{
					var hourlyrate1 = parseFloat($(".hourlyrate1").val());
					var estimatedcost1 = hoursnumber1*hourlyrate1;
				}				
				$(".estimatedcost1").val(estimatedcost1);
				if($(".estimatedcost").val()=="" || $(".estimatedcost").val()==null){
					var estimatedcost=0;
				}else{
					var estimatedcost=parseFloat($(".estimatedcost").val());
				}
				if($(".estimatedcost2").val()=="" || $(".estimatedcost2").val()==null){
					var estimatedcost2=0;
				}else{
					var estimatedcost2=parseFloat($(".estimatedcost2").val());
				}
				var totalcost = estimatedcost+estimatedcost1+estimatedcost2;
				$(".totalcost").val(totalcost);
				if($(".hoursnumber").val()=="" || $(".hoursnumber").val()==null){
					var hoursnumber=0;
				}else{
					var hoursnumber = parseInt($(".hoursnumber").val());
				}
				if($(".hoursnumber2").val()=="" || $(".hoursnumber2").val()==null){
					var hoursnumber2=0;
				}else{
					var hoursnumber2 = parseInt($(".hoursnumber2").val());
				}
				var totalhours = hoursnumber+hoursnumber1+hoursnumber2;
				$(".totalhours").val(totalhours);
				return false;
			});
			$(".hourlyrate1").change(function(){
				//if hoursnumber1 is null
				if($(".hoursnumber1").val()=="" || $(".hoursnumber1").val()==null){
					var hoursnumber1=0;
				}else{
					var hoursnumber1 = parseInt($(".hoursnumber1").val());
				}
				//if hourlyrate1 is null
				if($(".hourlyrate1").val()=="" || $(".hourlyrate1").val()==null){
					var estimatedcost1=0;
				}else{
					var hourlyrate1 = parseFloat($(".hourlyrate1").val());
					var estimatedcost1 = hoursnumber1*hourlyrate1;
				}					
				$(".estimatedcost1").val(estimatedcost1);
				if($(".estimatedcost").val()=="" || $(".estimatedcost").val()==null){
					var estimatedcost=0;
				}else{
					var estimatedcost=parseFloat($(".estimatedcost").val());
				}
				if($(".estimatedcost2").val()=="" || $(".estimatedcost2").val()==null){
					var estimatedcost2=0;
				}else{
					var estimatedcost2=parseFloat($(".estimatedcost2").val());
				}
				var totalcost = estimatedcost+estimatedcost1+estimatedcost2;
				$(".totalcost").val(totalcost);
				return false;
			});
			$(".hoursnumber2").change(function(){
				//if hoursnumber2 is null
				if($(".hoursnumber2").val()=="" || $(".hoursnumber2").val()==null){
					var hoursnumber2=0;
				}else{
					var hoursnumber2 = parseInt($(".hoursnumber2").val());
				}
				//if hourlyrate is null
				if($(".hourlyrate2").val()=="" || $(".hourlyrate2").val()==null){
					var estimatedcost2=0;
				}else{
					var hourlyrate2 = parseFloat($(".hourlyrate2").val());
					var estimatedcost2 = hoursnumber2*hourlyrate2;
				}				
				$(".estimatedcost2").val(estimatedcost2);
				if($(".hoursnumber").val()=="" || $(".hoursnumber").val()==null){
					var hoursnumber=0;
				}else{
					var hoursnumber = parseInt($(".hoursnumber").val());
				}
				if($(".hoursnumber1").val()=="" || $(".hoursnumber1").val()==null){
					var hoursnumber1=0;
				}else{
					var hoursnumber1 = parseInt($(".hoursnumber1").val());
				}
				var totalhours = hoursnumber+hoursnumber1+hoursnumber2;
				$(".totalhours").val(totalhours);
				if($(".estimatedcost").val()=="" || $(".estimatedcost").val()==null){
					var estimatedcost=0;
				}else{
					var estimatedcost=parseFloat($(".estimatedcost").val());
				}
				if($(".estimatedcost").val()=="" || $(".estimatedcost").val()==null){
					var estimatedcost=0;
				}else{
					var estimatedcost=parseFloat($(".estimatedcost").val());
				}
				var totalcost = estimatedcost+estimatedcost1+estimatedcost2;
				$(".totalcost").val(totalcost);
				return false;
			});
			$(".hourlyrate2").change(function(){
				//if hoursnumber2 is null
				if($(".hoursnumber2").val()=="" || $(".hoursnumber2").val()==null){
					var hoursnumber2=0;
				}else{
					var hoursnumber2 = parseInt($(".hoursnumber2").val());
				}
				//if hourlyrate2 is null
				if($(".hourlyrate2").val()=="" || $(".hourlyrate2").val()==null){
					var estimatedcost2=0;
				}else{
					var hourlyrate2 = parseFloat($(".hourlyrate2").val());
					var estimatedcost2 = hoursnumber2*hourlyrate2;
				}					
				$(".estimatedcost2").val(estimatedcost2);
				if($(".estimatedcost").val()=="" || $(".estimatedcost").val()==null){
					var estimatedcost=0;
				}else{
					var estimatedcost=parseFloat($(".estimatedcost").val());
				}
				if($(".estimatedcost1").val()=="" || $(".estimatedcost1").val()==null){
					var estimatedcost1=0;
				}else{
					var estimatedcost1=parseFloat($(".estimatedcost1").val());
				}
				var totalcost = estimatedcost+estimatedcost1+estimatedcost2;
				$(".totalcost").val(totalcost);
				return false;
			});
			$(".show_coo_new").click(function(){
				$("#coordinator_form").show();
				$(".show_coo_new").hide();
				$(".coo_list").hide();
				$(".hide_coo_new").show();
				return false;
			});
			$(".hide_coo_new").click(function(){
				$("#coordinator_form").hide();
				$(".show_coo_new").show();
				$(".coo_list").show();
				$(".hide_coo_new").hide();
				return false;
			});	
			$(".show_con_new").click(function(){
				$("#contractual_form").show();
				$(".show_con_new").hide();
				$(".con_list").hide();
				$(".hide_con_new").show();
				return false;
			});
			$(".hide_con_new").click(function(){
				$("#contractual_form").hide();
				$(".show_con_new").show();
				$(".con_list").show();
				$(".hide_con_new").hide();
				return false;
			});
			$(".show_gro_new").click(function(){
				$("#group_form").show();
				$(".show_gro_new").hide();
				$(".gro_list").hide();
				$(".hide_gro_new").show();
				return false;
			});
			$(".hide_gro_new").click(function(){
				$("#group_form").hide();
				$(".show_gro_new").show();
				$(".gro_list").show();
				$(".hide_gro_new").hide();
				return false;
			});
			$(".group").change(function(){
				var str=$(".group option:selected");
				group=str.text();	
				if(group!=null && group!=""){
					$(".show_gro_new").hide();
					$(".gro_name").val("");
				}else{
					$(".show_gro_new").show();
				}
				return false;
			});				
			$(".show_cb_new").click(function(){
				$("#cbilling_form").show();
				$(".show_cb_new").hide();
				$(".cb_list").hide();
				$(".hide_cb_new").show();
				return false;
			});
			$(".hide_cb_new").click(function(){
				$("#cbilling_form").hide();
				$(".show_cb_new").show();
				$(".cb_list").show();
				$(".hide_cb_new").hide();
				return false;
			});
			$(".cbilling").change(function(){
				var str=$(".cbilling option:selected");
				cbilling=str.text();	
				if(cbilling!=null && cbilling!=""){
					$(".show_cb_new").hide();
					$(".cb_name").val("");
					$(".cb_email").val("");
					$(".cb_phone").val("");
				}else{
					$(".show_cb_new").show();
				}
				return false;
			});
			$(".typecontract").change(function(){
				var str=$(".typecontract option:selected");
				type=str.val();
				$(".cotypecontract").val(type);	
				$(".cctypecontract").val(type);					
				return false;
			});
			$(".campus").change(function(){
				var str=$(".campus option:selected");
				campus=str.text();
				var address = $("#"+campus).val();
				$(".placeoftraining").val(address);	
				return false;
			});	
			$(".tlocation").change(function(){
				var str=$(".tlocation option:selected");
				tlocation = str.text();
				var str=$(".campus option:selected");
				if(tlocation!="Campus"){
					var str=$(".campus option:selected");
					campus=str.text();
					$("#refcampus").val(campus);
					$(".placeoftraining").val("");	
				}else{
					var refcampus = $("#refcampus").val()
					var address = $("#"+refcampus).val();
					$(".placeoftraining").val(address);					
				}			
				return false;
			});			
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/bootstrap/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}
