	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
			<th width="30%" class="sty_label">{{'label.ordernumber'|trans([],'BoAdminBundle')}}</th>
            <th width="30%" class="sty_label">{{'label.nbstudent'|trans([],'BoAdminBundle')}}</th>
			<th width="30%" class="sty_label">{{'label.soumissiontype'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.ordernumber) }}</td>
			<td>{{ form_widget(form.nbstudent) }}</td>	
			<td>{{ form_widget(form.soumissiontype, {'attr' : {'class' : 'soumissiontype span3'}}) }}</td>				
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.daterate'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.numberhour'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.hourlyrate'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.startrate) }}</td>
			<td>{{ form_widget(form.hoursnumber, {'attr' : {'class' : 'hoursnumber span3'}}) }}</td>
			<td>{{ form_widget(form.hourlyrate, {'attr' : {'class' : 'hourlyrate span3'}}) }}</td>
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.hours'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.totalcost'|trans([],'BoAdminBundle')}}</th>	
			<th class="sty_label">{{'label.typeofcourse'|trans([],'BoAdminBundle')}}</th>			
		</tr>
		<tr>
			<td>{{ form_widget(form.totalhours, {'attr' : {'class' : 'totalhours span3'}}) }}</td>
			<td>{{ form_widget(form.totalcost, {'attr' : {'class' : 'totalcost span3'}}) }}</td>
			<td>{{ form_widget(form.typeofcourse, {'attr' : {'class' : 'location span3'}}) }}</td>	

		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.approvedby'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.preparedby'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.location'|trans([],'BoAdminBundle')}}</th>	
		</tr>
		<tr>
			<td>{{ form_widget(form.approvedby, {'attr' : {'class' : 'approvedby span3'}}) }}</td>
			<td>{{ form_widget(form.preparedby, {'attr' : {'class' : 'preparedby span3'}}) }}</td>
			<td>{{ form_widget(form.location, {'attr' : {'class' : 'tlocation span3'}}) }}</td>
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.campus'|trans([],'BoAdminBundle')}}</th>
			<th colspan="2" class="sty_label">{{'label.placeoftraining'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td valign="top">{{ form_widget(form.campus, {'attr' : {'class' : 'campus span3'}}) }}</td>			
			<td colspan="2">{{ form_widget(form.placeoftraining, {'attr' : {'class' : 'placeoftraining span3'}}) }}</td>		
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.initlanguage'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.weeklanguage'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label1">{{'label.didmat'|trans([],'BoAdminBundle')}}<span class="didmatlab">/Price</span></th>
		</tr>
		<tr>		
			<td>{{ form_widget(form.initlanguage) }}</td>	
			<td>{{ form_widget(form.weeklanguage) }}</td>		
			<td>{{ form_widget(form.didmat, {'attr' : {'class' : 'didmat span3'}}) }}<span class="didmatprice"><input name="didmatprice" type="text" value="" size="5"/>&nbsp;<b>$</b></span></td>				
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.classvisit'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.progressreport'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>		
			<td>{{ form_widget(form.classvisit) }}</td>	
			<td>{{ form_widget(form.progressreport) }}</td>					
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label" colspan="3">{{'label.comment'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td colspan="3">{{ form_widget(form.comment) }}</td>		
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
	</table>
	<input type="hidden" id="refcampus" name="refcampus" value=""/>
	{%for campus in campuss%}
		<input type="hidden" id="{{campus.reference}}" name="{{campus.reference}}" value="{{campus.address}}"/>
	{%endfor%}