{% extends 'base2.html.twig' %}
{% block title %}{{parent()}}- {{'layout.menu.dashboard'|trans([],'BoAdminBundle')}} >> {{'entity.supervision'|trans([],'BoAdminBundle')}}  >> {{'label.contracts'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:tdb.html.twig"%}{% endblock %}
{% block nav %}
	{%if employee!=null%}{%include "BoAdminBundle:Employee:rightshow.html.twig"%}{%endif%}	
{% endblock %}
{% block label %}<h1>{{'layout.menu.dashboard'|trans([],'BoAdminBundle')}} >> {{'entity.supervision'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block actions %}{%include "BoAdvisorsBundle:Supervision:actions.html.twig"%}{% endblock %}
{% block body %}
	<div id="body-content">
		<div class="display_content">
			<input type="hidden" name="status" id="status" value="{{status}}" />
			<input type="hidden" id="nb_pages" value="{{nb_pages}}" /> 
			<legend>{{'label.contracts'|trans([],'BoAdminBundle')}}</legend>
			{%if total is defined and total>nb_cpp%}
				<div class="pagination_content">
					{% include 'BoAdvisorsBundle:Supervision:pagination.html.twig' %}
				</div>
			{%endif%}
			<div id="content-liste">
				{%include "BoAdvisorsBundle:Supervision:contractlist.html.twig"%}
			</div>
		</div>			
	</div>
	{% block javascripts %}
		<script>
			$("#idpage").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idpage option:selected");
				page=str.text();
				var status = $("#status").val();			
				var DATA = 'data='+page+"-"+status;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_supervision_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});	
			$("#btn_first").click(function(){
				var str=$("#idpage option:selected");
				page=str.text();
				if(parseInt(page)==1){
					return false;
				}
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var page=1;	
				var nbpages = $("#nb_pages").val();					
				str.text(page);
				var status = $("#status").val();			
				var DATA = 'data='+page+"-"+status;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_supervision_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#btn_previous").click(function(){
				var str=$("#idpage option:selected");
				page=str.text();
				if(parseInt(page)==1){
					return false;
				}
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				page=parseInt(page)-1;
				str.text(page);
				var status = $("#status").val();			
				var DATA = 'data='+page+"-"+status;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_supervision_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#btn_next").click(function(){
				var nbpages = $("#nb_pages").val();		
				var str=$("#idpage option:selected");
				page=str.text();
				if(parseInt(page)==parseInt(nbpages)){
					return false;
				}
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idpage option:selected");
				page=str.text();				
				page=parseInt(page)+1;
				str.text(page);
				var status = $("#status").val();			
				var DATA = 'data='+page+"-"+status;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_supervision_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#btn_last").click(function(){
				var nbpages = $("#nb_pages").val();		
				var str=$("#idpage option:selected");
				page=str.text();
				if(parseInt(page)==parseInt(nbpages)){
					return false;
				}
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idpage option:selected");
				var page=nbpages;				
				str.text(page);
				var status = $("#status").val();			
				var DATA = 'data='+page+"-"+status;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_supervision_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}
