    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th width="10%">{{'label.firstname'|trans([],'BoAdminBundle')}}</th>
				<th width="10%">{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.targetlevel'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.phonenumber'|trans([],'BoAdminBundle')}}</th>
                <th width="15%">{{'label.email'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.firstname }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.targetlevel }}</td>
                <td>{{ student.phonenumber }}</td>
                <td>{{ student.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>