	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
			<th width="20%" class="sty_label">{{'label.room'|trans([],'BoAdminBundle')}}</th>
            <th width="20%" class="sty_label">{{'label.from'|trans([],'BoAdminBundle')}}</th>
			<th width="20%" class="sty_label">{{'label.to'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>			
			<td>
				<select name='local' id='local'>
					<option value="0" selected="delected">Select a local</option>
					{%for local in locals%}
						<option value="{{local[0]}}" {%if idlocal is defined and local[0] ==idlocal%}selected='selected'{%endif%}>{{local[1]}} </option>
					{%endfor%}
				</select>			
			</td>
			<td>{{ form_widget(form.dayfrom) }}</td>
			<td>{{ form_widget(form.dayto) }}</td>					
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>	
		<tr>
            <th class="sty_label">{{'label.startam'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.endam'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">Teachers</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.startam) }}</td>
			<td>{{ form_widget(edit_form.endam) }}</td>			
			<td>
				<select name='teachers' id='teachers' required="true">
					<option value="0" selected="delected">Select a teachers</option>
					{%for teacher in teachers%}
						<option value="{{teacher[0]}}" {%if idteacher is defined and teacher[0] ==idteacher%}selected='selected'{%endif%}>{{teacher[1]}}</option>
					{%endfor%}
				</select>	
			</td>		
		</tr>	
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
            <th class="sty_label">{{'label.startpm'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.endpm'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">Teachers</th>
		</tr>
		<tr>	
			<td>{{ form_widget(edit_form.startpm) }}</td>
			<td>{{ form_widget(edit_form.endpm) }}</td>	
			<td>
				<select name='teachers' id='teachers' required="true">
					<option value="0" selected="delected">Select a teachers</option>
					{%for teacher in teachers%}
						<option value="{{teacher[0]}}" {%if idteacher is defined and teacher[0] ==idteacher%}selected='selected'{%endif%}>{{teacher[1]}}</option>
					{%endfor%}
				</select>	
			</td>				
		</tr>	
		<tr><td colspan="3">&nbsp;</td></tr>			
	</table>