{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.usermessage'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:tools.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.usermessage'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('usermessage_edit',{'id':ticket.id}) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:UserMessage:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:UserMessage:newform.html.twig"%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
