    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th width="10%">{{'label.contractnumber'|trans([],'BoAdminBundle')}}</th>
                <th width="8%">{{'label.contracttype'|trans([],'BoAdminBundle')}}</th>
                <th width="18%">{{'label.pa'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.numberofhour'|trans([],'BoAdminBundle')}}</th>
                <th width="8%">{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th width="8%">{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.contractnumber }}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.typecontract }}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.advisor }}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.hoursnumber }}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{% if contract.startdate %}{{ contract.startdate|date('Y-m-d') }}{% endif %}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{% if contract.enddate %}{{ contract.enddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
		{%else%}
			<tr><td colspan="7">No contract found</td></tr>
        {% endfor %}
        </tbody>
    </table>