	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="40%" class="sty_label">{{'label.name'|trans([],'BoAdminBundle')}}</th>
			<th width="40%" class="sty_label">{{'label.targetlevel'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.name) }}</td>
			<td>{{ form_widget(form.targetlevel) }}</td>			
		</tr>
		<tr><td colspan='2'>&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.enddate'|trans([],'BoAdminBundle')}}</th>					
		</tr>
		<tr>
			<td>{{ form_widget(form.startdate, {'attr' : {'class' : 'startdate span3'}}) }}</td>
			<td>{{ form_widget(form.enddate, {'attr' : {'class' : 'enddate span3'}}) }}</td>						
		</tr>
		<tr><td colspan='2'>&nbsp;</td></tr>

	</table>