    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>{{'label.contractnumber'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.firstname'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startlevel'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.targetlevel'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
			{%if students[contract.id] is defined%}
				{%set student=students[contract.id]%}
				{%if student and contract.group%}
					<tr>
						<td>{{ contract.group.name }}</td>
						<td>{{ student.firstname }}</td>
						<td>{{ student.name }}</td>
						<td>{%if student.startlevel %}{{ student.targetlevel }}{%else%}---{%endif%}</td>
						<td>{{ student.targetlevel }}</td>
						<td>{% if student.startdate %}{{ student.startdate|date('Y-m-d') }}{%else%}---{% endif %}</td>
						<td>{% if student.enddate %}{{ student.enddate|date('Y-m-d') }}{%else%}---{% endif %}</td>
					</tr>
				{%endif%}
			{%endif%}
		{%else%}
			<tr><td colspan="5">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>