{% extends 'base2.html.twig' %}
{% block title %}{{parent()}}-{{'entity.billingcontact'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.billingcontact'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoAdminBundle:BillingContact:actions.html.twig"%}					
{% endblock %}
{% block body %}
	<div id="content-liste">
		{%include "BoAdminBundle:BillingContact:tbliste.html.twig"%}
	</div>
{% endblock %}
