    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.name'|trans([],'BoAdminBundle')}}</th>
				<th>Details</th>
                <th>{{'label.hourlycharge'|trans([],'BoAdminBundle')}}</th>
				<th>Cration date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workfield in workfields %}
            <tr>
                <td><a href="{{ path('workfields_show', { 'id': workfield.id }) }}">{{ workfield.id }}</a></td>
                <td>{{ workfield.wfname }}</td>
				<td>{{ workfield.details }}</td>
                <td>{{ workfield.chargescale }}</td>
				<td>{% if workfield.creationdate %}{{ workfield.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="list-action">
                    <a href="{{ path('workfields_show', { 'id': workfield.id }) }}">show</a>
                    <a href="{{ path('workfields_edit', { 'id': workfield.id }) }}">{{'action.edit'|trans([],'BoAdminBundle')}}</a>
                </td>
            </tr>
		{%else%}
			<tr><td colspan="4">Aucune entrée de Workfields trouvée dans la base de données</td></tr>
        {% endfor %}
        </tbody>
    </table>