{%set i=1%}
{%for question in questions%}
	{%set j=1%}
	<div class="title"><b>QUESTION {%if question.qorder%}{{question.qorder}}{%else%}{{i}}{%endif%}</b>&nbsp;&nbsp;&nbsp;
		<a href="{{ path('question_edit', { 'id': question.id,'idquiz': quiz.id }) }}"><img src="{{ asset('images/actions/modifier.png') }}" alt="{{'action.edit'|trans([],'BoAdminBundle')}} {{'label.question'|trans([],'BoAdminBundle')}}"/></a>
		<a href="{{ path('question_show', { 'id': question.id,'idquiz': quiz.id }) }}"><img src="{{ asset('images/actions/afficher.jpg') }}" alt="{{'action.edit'|trans([],'BoAdminBundle')}} {{'label.question'|trans([],'BoAdminBundle')}}"/></a>
	</div>
	<div class="content">{{question.content|raw}}</div>
	<div class="quiz_question_response">
		{%if question.answer%}
			<ol class="answer">
				{%for answer in question.answer%}
					<li><span {%if answer.choice==1%}class="wax_3d_2"{%endif%}>{{answer.response}}</span>&nbsp;&nbsp;{%if answer.choice==1%}<img src="{{ asset('images/actions/ok.gif') }}" alt="" width="20px"/>{%endif%}&nbsp;&nbsp;<a href="{{ path('answer_edit', { 'id': answer.id }) }}"><img src="{{ asset('images/actions/modifier.png') }}" alt="{{'action.edit'|trans([],'BoAdminBundle')}} {{'label.answer'|trans([],'BoAdminBundle')}}"/></a></li>
					{%set j=j+1%}
				{%endfor%}
			</ol>
		{%endif%}	
		{%if j<=question.noa%}
		<!-- begin add answer creation form by modal dialog-->
		<div class="container">
		  <!-- Modal -->
		  <div class="modal fade" id="add_answer" role="dialog">
			<div class="modal-dialog">
		
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">{{'action.add'|trans([],'BoAdminBundle')}} {{'label.answer'|trans([],'BoAdminBundle')}}</h4>
				</div>
				<form action="{{ path('answer_new',{'idquestion':question.id,'idquiz':quiz.id})}}" method="post" class="style">
					<div class="modal-body">
						{{ form_errors(answer_form) }}
							{%include "BoQuizBundle:Answer:newform.html.twig"%}
						{{ form_rest(answer_form) }}
					</div>
					<div class="modal-footer">
						<button class="close_modal_add" data-dismiss="modal">{{'action.close'|trans([],'BoAdminBundle')}}</button>
						<input type="submit" value="{{'action.create'|trans([],'BoAdminBundle')}}">
					</div>
				</form>	
			  </div>
			  
			</div>
		  </div>
		</div>
		<!-- end answer creation form by modal dialog-->
			<p><button type="button" class="btn btn-info btn-lg modal-create" data-toggle="modal" data-target="#add_answer">{{'action.add'|trans([],'BoAdminBundle')}} {{'label.answer'|trans([],'BoAdminBundle')}}</button></p>
		{%endif%}		
	</div>
	{%set i=i+1%}	
{%else%}
	<p class="no-found">{{'No question found'|trans([],'BoAdminBundle')}}</p>
	<p><button type="button" class="btn btn-info btn-lg modal-create" data-toggle="modal" data-target="#add_question">{{'action.add'|trans([],'BoAdminBundle')}} {{'label.question'|trans([],'BoAdminBundle')}}</button></p>	
{%endfor%}
