	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
				{%if app.session.get('rights')['CONTRACTS']['Contractuals'] is defined and app.session.get('rights')['CONTRACTS']['Contractuals'].ddelete==1%}
					<td class="delete-action">
						{{ form_start(delete_form) }}
							<input type="submit" value="Delete">
						{{ form_end(delete_form) }}
					</td>
				{%endif%}
					<td>
						<a href="{{ path('contractual_index') }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
					</td>
					<!--td>
						<a href="{{ path('contractual_user_create', { 'id': contractual.id }) }}">{{'action.createuser'|trans([],'BoAdminBundle')}}</a>
					</td-->
				</tr>
			</table>		
		</div>
	</div>	