	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
			<th width="40%" class="sty_label">Employee</th>
            <th width="40%" class="sty_label">{{'label.filenumber'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.employee) }}</td>	
			<td>{{ form_widget(form.filenumber) }}</td>
			<td>&nbsp;</td>			
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.requesteddate'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.receiveddate'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.requestdate) }}</td>
			<td>{{ form_widget(form.receivedate) }}</td>		
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.expireddate'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.expirydate) }}</td>			
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr>
            <th colspan="2" class="sty_label">Comment</th>
		</tr>
		<tr>
			<td colspan="2">{{ form_widget(form.comment) }}</td>			
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
	</table>