{% extends 'base.html.twig' %}

{% block body %}
    <h1>Diplomas</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diploma.id }}</td>
            </tr>
            <tr>
                <th>Diplomasname</th>
                <td>{{ diploma.diplomasName }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if diploma.creationdate %}{{ diploma.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('diplomas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('diplomas_edit', { 'id': diploma.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
