{% extends 'base2.html.twig' %}
{% block title %}{{parent()}}- {{'entity.teamcontacts'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}	
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.teamcontacts'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoAdminBundle:TeamContacts:actions.html.twig"%}					
{% endblock %}
{% block body %}
	{%if total is defined and total>nb_cpp%}
	<div class="pagination_content">
		{% include 'BoAdminBundle:TeamContacts:pagination.html.twig' %}
	</div>
	{%endif%}
	<div id="content-liste">
		{%include "BoAdminBundle:TeamContacts:tbliste.html.twig"%}
	</div>
	
	<!-- begin teamcontact creation form by modal dialog-->
	<div class="container">
	  <!-- Modal -->
	  <div class="modal fade" id="add_tc" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{'action.add'|trans([],'BoAdminBundle')}} {{'entity.contractual'|trans([],'BoAdminBundle')}}</h4>
			  <div class="modal-message"></div>
			</div>
			<form action="{{ path('teamcontacts_new') }}" method="post" class="style">
				<div class="modal-body">
					{{ form_errors(tc_form) }}
						{%include "BoAdminBundle:TeamContacts:modalform.html.twig"%}
					{{ form_rest(tc_form) }}
				</div>
				<div class="modal-footer">
					<input type="submit" value="{{'action.create'|trans([],'BoAdminBundle')}}" id="btn_create">
				</div>
			</form>	
		  </div>
		  
		</div>
	  </div>
	</div>
	<!-- end teamcontact creation form by modal dialog-->	
	
	{% block javascripts %}
		<script>
			$("#idpage").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idpage option:selected");
				page=str.text();
				var DATA = 'motcle=' + page;
				$.ajax({
					type: "POST",
					url: "{{ path('teamcontacts_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});	
			$("#btn-search").click(function(){
				if($("#inp-search").val()==""){
					alert("Search fields is empty!");
					return false;
				}
				var criteria = $("#inp-search").val();				
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$(".pagination_content").hide();
				$(".total_number").hide();
				$(".list_link").show();
				var DATA = 'description=' + criteria;
				$.ajax({
					type: "POST",
					url: "{{ path('teamcontacts_search')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#btn_create").click(function(){
				var str=$(".employee option:selected");
				employee=str.text();
				if(employee==""){
					$('.modal-message').html("You have to select an employee!");
					return false;
				}
				return true;
			});
			$(".employee").change(function(){
				var str=$(".employee option:selected");
				employee=str.text();
				if(employee!=""){
					$('.modal-message').html("");
				}else{
					$('.modal-message').html("You have to select an employee!");
				}
				return false;			
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/bootstrap/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.min.js') }}"></script>
	{% endblock %}
{% endblock %}
