{% extends 'student.html.twig' %}
{% block title %}{{parent()}} - {{'title.coursesgiven'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoStudentBundle:Default:tdb.html.twig"%}{% endblock %}
{% block nav %}	
	{%if user.students is defined and user.students!=null%}{%include "BoStudentBundle:Default:rightshow.html.twig"%}{%endif%}	
{% endblock %}
{% block label %}<h1>{{'title.coursesgiven'|trans([],'BoAdminBundle')}} {{'label.id'|trans([],'BoAdminBundle')}}:{{ tsstudent.timesheet.id }}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		{%include "BoStudentBundle:TsStudent:validateactions.html.twig"%}
		<div class="show_content">
			{%include "BoStudentBundle:TsStudent:tbshow.html.twig"%}
		</div>			
	</div>
{% endblock %}
