	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
			<th width="20%" class="sty_label">Category</th>
            <th width="20%" class="sty_label">Group</th>
            <th width="20%" class="sty_label">{{'label.student'|trans([],'BoAdminBundle')}}</th>
            <td width="20%">&nbsp;</td>
		</tr>
		<tr>
			<td>{{ form_widget(form.typets, {'attr' : {'class' : 'typeclass span3'}}) }}</td>
			<td>{%include "BoAdminBundle:Timesheet:selectgroup.html.twig"%}</td>
			<td>{%include "BoAdminBundle:Timesheet:selectstudent.html.twig"%}</td>
            <td width="20%">&nbsp;</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		<tr>
            <th width="20%" class="sty_label">Start date</th>
            <th width="20%" class="sty_label">End date</th>
            <th class="sty_label">{{'label.numberofhour'|trans([],'BoAdminBundle')}}</th>
            <th class="sty_label">Legende</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.ddate) }}</td>
			<td>{{ form_widget(date_form.enddate) }}</td>
			<td>{{ form_widget(form.hour) }}</td>
			<td>{{ form_widget(form.legende) }}</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		<tr>
            <th class="sty_label">{{'label.startam'|trans([],'BoAdminBundle')}}</th>
            <th class="sty_label">{{'label.endam'|trans([],'BoAdminBundle')}}</th>
            <th class="sty_label">{{'label.startpm'|trans([],'BoAdminBundle')}}</th>
            <th class="sty_label">{{'label.endpm'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.startam, {'attr' : {'class' : 'startamclass span3'}}) }}</td>
			<td>{{ form_widget(form.endam, {'attr' : {'class' : 'endamclass span3'}}) }}</td>
			<td>{{ form_widget(form.startpm, {'attr' : {'class' : 'startpmclass span3'}}) }}</td>
			<td>{{ form_widget(form.endpm, {'attr' : {'class' : 'endpmclass span3'}}) }}</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
	</table>