{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'layout.menu.dashboard'|trans([],'BoAdminBundle')}} >> {{'entity.timesheet'|trans([],'BoAdminBundle')}} >> {{'action.add'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:tdb.html.twig"%}{% endblock %}
{% block nav %}	{%if employee!=null%}{%include "BoAdminBundle:User:rightshow.html.twig"%}{%endif%}{% endblock %}
{% block label %}<h1>{{'layout.menu.dashboard'|trans([],'BoAdminBundle')}} >> {{'entity.timesheet'|trans([],'BoAdminBundle')}} >> {{'action.add'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('dash_timesheet_add', { 'idcontract': contract.id }) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdvisorsBundle:Timesheet:addactions.html.twig"%}
			<div class="search_content"></div>
			<div class="show_content">
				{%include "BoAdvisorsBundle:Timesheet:addform.html.twig"%}
			</div>
			<input id="idsgroup" type="hidden" value="{{idgroup}}" />
			<input id="idcontract" type="hidden" value="{{contract.id}}" />
			{{ form_rest(form) }}
		</form>	
	</div>
	{% block javascripts %}
		<script>
			$(document).ready(function(){
				var str=$("#idgroup option:selected");
				idgroup=str.val();
				if(idgroup!=0){
					$("#learner_attendance").show();
					$('#idstudent').attr('disabled', 'disabled');
				}
			});
			$("#btn-create").click(function(){
				var str=$("#idgroup option:selected");
				idgroup=str.val();
				var str=$(".typeclass option:selected");
				type=str.val();
				var str=$("#idstudent option:selected");
				idstudent=str.val();
				if(type=='Teaching' && idgroup=="0" && idstudent=="0"){
					alert("One of the two fields group or student must not be empty!");
					return false;
				}				
				return true;
			});
			$("#idgroup").change(function(){
				var str=$("#idgroup option:selected");
				idgroup=str.val();
				var str=$(".typeclass option:selected");
				typets=str.val();
				if(idgroup==0){
					$("#learner_attendance").hide();
					$('#idstudent').removeAttr('disabled');
				}else{
					$("#learner_attendance").show();
					$('#idstudent').attr('disabled', 'disabled');
				}
			});
			$("#idstudent").change(function(){
				var str=$("#idstudent option:selected");
				idstudent=str.val();
				if(idstudent==0){
					$('#idgroup').removeAttr('disabled');
					var str=$("#idgroup option:selected");
					idgroup=str.val();
					if(idgroup!=0) $("#learner_attendance").show();
				}else{
					$("#learner_attendance").hide();
					$('#idgroup').attr('disabled', 'disabled');
				}
			});
			$(".typeclass").change(function(){
				var str=$(".typeclass option:selected");
				type=str.val();
				if(type!=1){
					var str=$("#idgroup option:selected");
					idgroup=str.val();
					$("#learner_attendance").hide();
					$('#idsgroup').val(idgroup);
					$('#idgroup').val(0);
					$('#idstudent').val(0);
				}else{
					reloaddate(type,$('#idsgroup').val());
				}
			});
			$("#btn-search").click(function(){
				if($("#inp-search").val()==""){
					alert("Search fields is empty!");
					return false;
				}
				var criteria = $("#inp-search").val();	
				$('.show_content').hide();
				$(".list_link").show();
				$('.search_content').html("<center>Recherche en cours >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var DATA = 'data=' + criteria;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_timesheet_contractsearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('.search_content').html(data);
					}
				});
				return false;
			});
			function reloaddate(type,idgroup){
				var DATA = 'data='+type+"-"+idgroup;
				$.ajax({
					type: "POST",
					url: "{{ path('dash_timesheet_reloaddata')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#reload_timesheet').html(data);
					}
				});
				return false;
			}
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}
