	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="20%" class="sty_label">Date</th>
			<th width="20%" class="sty_label">Category</th>
            <th width="20%" class="sty_label">Group</th>
            <th width="20%" class="sty_label">{{'label.student'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.ddate) }}</td>
			<td>{{ form_widget(edit_form.typets, {'attr' : {'class' : 'typeclass span3'}}) }}</td>
			<td>{%include "BoAdminBundle:Timesheet:selectgroup.html.twig"%}</td>			
			<td>{%include "BoAdminBundle:Timesheet:selectstudent.html.twig"%}</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		<tr>
            <th class="sty_label">{{'label.startam'|trans([],'BoAdminBundle')}}</th>
            <th class="sty_label">{{'label.endam'|trans([],'BoAdminBundle')}}</th>
            <th class="sty_label">{{'label.startpm'|trans([],'BoAdminBundle')}}</th>
            <th class="sty_label">{{'label.endpm'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.startam) }}</td>
			<td>{{ form_widget(edit_form.endam) }}</td>
			<td>{{ form_widget(edit_form.startpm) }}</td>
			<td>{{ form_widget(edit_form.endpm) }}</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		<tr>
            <th class="sty_label">{{'label.numberofhour'|trans([],'BoAdminBundle')}}</th>
            <th class="sty_label">Legende</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.hour) }}</td>
			<td>{{ form_widget(edit_form.legende) }}</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
	</table>