	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="20%" class="sty_label">Date</th>
			<th width="20%" class="sty_label">Category</th>
			<td width="20%">&nbsp;</td>
			<td width="20%">&nbsp;</td>
		</tr>
		<tr>
			<td>{{ form_widget(form.ddate) }}</td>
			<td>{{ form_widget(form.typets, {'attr' : {'class' : 'typeclass span3'}}) }}</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		<tr>
			<th width="20%" class="sty_label">Group</th>
			<th width="20%" class="sty_label" id="select-student1">{{'label.student'|trans([],'BoAdminBundle')}}</th>
			<th width="20%" class="sty_label">{{'label.numberofhour'|trans([],'BoAdminBundle')}}</th>
			<th width="20%" class="sty_label">Legende</th>
		</tr>
		<tr>
			<td><input type="text" value="{%if group!=null%}{{group.name}}{%else%}N/A{%endif%}" disabled="disabled"/></td>		
			<td id="select-student2">{%include "BoAdminBundle:Timesheet:selectstudent.html.twig"%}</td>
			<td>{{ form_widget(form.hour) }}</td>
			<td>{{ form_widget(form.legende) }}</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
		<tr>
			<th width="20%" class="sty_label">{{'label.startam'|trans([],'BoAdminBundle')}}</th>
			<th width="20%" class="sty_label">{{'label.endam'|trans([],'BoAdminBundle')}}</th>
			<th width="20%" class="sty_label">{{'label.startpm'|trans([],'BoAdminBundle')}}</th>
			<th width="20%" class="sty_label">{{'label.endpm'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(form.startam, {'attr' : {'class' : 'startam span3'}}) }}</td>
			<td>{{ form_widget(form.endam, {'attr' : {'class' : 'endam span3'}}) }}</td>
			<td>{{ form_widget(form.startpm, {'attr' : {'class' : 'startpm span3'}}) }}</td>
			<td>{{ form_widget(form.endpm, {'attr' : {'class' : 'endpm span3'}}) }}</td>
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
	</table>
	{%if students%}
	<div id='learner_attendance'>
		<legend>Attendance of learners</legend>
		<table border="0" cellpadding="0" cellspacing="0" id="new_row">
			{%for student in students%}
				<tr>
					<td class='ts_presence_label'>{{student.firstname}} {{student.name}}:</td>
					<td class='ts_presence_value'>
						<input type='radio' name='student{{student.id}}' value='P' checked> P
						<input type='radio' name='student{{student.id}}' value='N-S'> N-S
						<input type='radio' name='student{{student.id}}' value='ABS'> ABS				
					</td>
				</tr>
			{%endfor%}
			<tr><td colspan="2">&nbsp;</td></tr>		
		</table>		
	</div>
	{%endif%}