    <table width=100%>
        <tbody>
	   <tr><td colspan="4">&nbsp;</td></tr>
            <tr>
                <th width=25%>Id</th>
                <th width=25%>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
                <th width=25%>{{'label.number'|trans([],'BoAdminBundle')}} {{'label.contracts'|trans([],'BoAdminBundle')}}:</th>
                <th width=25%>{{'label.number'|trans([],'BoAdminBundle')}} {{'label.group'|trans([],'BoAdminBundle')}}:</th>
            </tr>
            <tr>

                <td>{{ robot.id }}</td>
                <td>{% if robot.ddate %}{{ robot.ddate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ robot.nbcontract }}</td>
                <td>{{ robot.nbgroup }}</td>
            </tr>
	   <tr><td colspan="2">&nbsp;</td></tr>
            <tr>
                <th>{{'label.start'|trans([],'BoAdminBundle')}}:</th>
                <th>{{'label.end'|trans([],'BoAdminBundle')}}:</th>
                <th>Source</th>
                <th>Note</th>
            </tr>
            <tr>

                <td>{%if robot.start %}{{ robot.start }}{%else%}---{%endif%}</td>
                <td>{%if robot.end %}{{ robot.end }}{%else%}---{%endif%}</td>
                <td>{%if robot.source %}{{ robot.source }}{%else%}---{%endif%}</td>
                <td>{%if robot.note %}{{ robot.note }}{%else%}---{%endif%}</td>
            </tr>
	   <tr><td colspan="2">&nbsp;</td></tr>
        </tbody>
    </table>
