    <table>
        <tbody>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <td>{{ tmonth.id }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>Imonth</th>
                <td>{{ tmonth.imonth }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>Smonthen</th>
                <td>{{ tmonth.smonthen }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>Smonthfr</th>
                <td>{{ tmonth.smonthfr }}</td>
            </tr>
        </tbody>
    </table>