{% extends 'home2.html.twig' %}
{% block title %}{{parent()}}-{{'entity.tickets'|trans([],'BoAdminBundle')}} >> {{'title.show'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoHomeBundle:Default:request.html.twig"%}{% endblock %}
{% block nav %}{%if student is defined and student!=null%}{%include "BoHomeBundle:Default:rightshow.html.twig"%}{%endif%}{% endblock %}
{% block label %}<h1>{{'entity.tickets'|trans([],'BoAdminBundle')}} N°{{ ticket.id }} >> {{'title.show'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoHomeBundle:Tickets:showactions.html.twig"%}					
{% endblock %}
{% block body %}
	<div class="show_content">
		<table width="100%">
			<tbody>
				<tr>
					<th width="30"%>{{'label.subject'|trans([],'BoAdminBundle')}}</th>
					<th width="30"%>{{'label.affectedto'|trans([],'BoAdminBundle')}}</th>
					<th width="30"%">{{'label.blockedby'|trans([],'BoAdminBundle')}}</th>
				</tr>
				<tr>              
					<td>{{ ticket.subject }}</td>
					<td>
						{%if contact and contact.employee%}
							{%set i=1%}
							{%for employee in contact.employee%}
								{{ employee.firstname }} {{ employee.name }}
								{%set i=i+1%}
								{%if i<contact.employee|length%}, {%endif%}					
							{%endfor%}
						{%else%}
							---
						{%endif%}
					</td>
					<td>{%if ticket.blockedby %}{{ ticket.blockedby }}{%else%}---{%endif%}</td>
				</tr>
				<tr><td colspan="3">&nbsp;</td></tr>
				<tr>
					<th>{{'label.openeddate'|trans([],'BoAdminBundle')}}</th>
					<th>{{'label.status'|trans([],'BoAdminBundle')}}</th>
					<th>{{'label.statusddate'|trans([],'BoAdminBundle')}}</th>
				</tr>
				<tr>               
					<td>{% if ticket.openeddate %}{{ ticket.openeddate|date('Y-m-d') }}{% endif %}</td>
					<td>{{ status[ticket.status] }}</td>					
					<td>{% if ticket.statusddate %}{{ ticket.statusddate|date('Y-m-d') }}{% endif %}</td>
				</tr>
				<tr><td colspan="3">&nbsp;</td></tr>
				<tr>
					<th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
					<th>{{'label.resolveddate'|trans([],'BoAdminBundle')}}</th>
					<th>{{'label.resolvedby'|trans([],'BoAdminBundle')}}</th>
				</tr>
				<tr>
					<td>{% if ticket.creationdate %}{{ ticket.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>				
					<td>{% if ticket.resolveddate %}{{ ticket.openeddate|date('Y-m-d') }}{%else%}---{% endif %}</td>					
					<td>{% if ticket.resolvedby %}{{ ticket.resolvedby}}{%else%}---{% endif %}</td>					
				</tr>
				<tr><td colspan="3">&nbsp;</td></tr>
				<tr>
					<th colspan="3">Message</th>
				</tr>
				<tr>
					<td colspan="3"><textarea name="message" rows=5 COLS=120  disabled="disabled">{{ ticket.comments }}</textarea></td>
				</tr>
				<tr><td colspan="3">&nbsp;</td></tr>
			</tbody>
		</table>
	</div>
{% endblock %}
