    <table>
        <tbody>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
		<th>Situation</th>
		<th>{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.firstname'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.situation }}</td>   
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>{{'label.phone'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.departement'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.email'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.result'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>                
		<td>{{ user.phone }}</td>
                <td>{{ user.department }}</td>   
                <td>{{ user.email }}</td> 
                <td>{%if evalquiz is defined%}{{ evalquiz.result }}{%else%}---{%endif%}</td> 
            </tr>
            <tr>
		<th>{{'label.category'|trans([],'BoAdminBundle')}}</th> 
		<th>{{'label.notification'|trans([],'BoAdminBundle')}}</th>                
		<th>{{'label.createdby'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>
		<td>{%if evalquiz is defined%}{{ evalquiz.notification }}{%else%}---{%endif%}</td>
		<td>{%if evalquiz is defined and evalquiz.category and evalquiz.category.name%}{{ evalquiz.category.name }}{%else%}---{%endif%}</td>
		<td>{%if user.createby %}{{ user.createby }}{%else%}---{%endif%}</td>
                <td>{% if user.creationdate %}{{ user.creationdate|date('Y-m-d H:i:s') }}{%else%}---{%endif%}</td>
            </tr>
        </tbody>
    </table>
