{% extends 'base.html.twig' %}
{% block title %}{{parent()}}-{{'entity.clearance'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.clearance'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('employee_securitycote_new',{'idemployee':employee.id}) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Employee:securitycoteactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Securitycote:editform.html.twig"%}
			</div>	
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
