{% extends 'base2.html.twig' %}
{% block title %}{{parent()}}- {{'entity.employee'|trans([],'BoAdminBundle')}} >> {{'label.active'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}	
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.employee'|trans([],'BoAdminBundle')}} >> {{'label.active'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoAdminBundle:Employee:activeaction.html.twig"%}					
{% endblock %}
{% block body %}
	<div id="content-liste">
		{%include "BoAdminBundle:Employee:tbliste.html.twig"%}
	</div>
	
	<!-- begin employee creation form by modal dialog-->
	<div class="container">
	  <!-- Modal -->
	  <div class="modal fade" id="add_employee" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{'action.add'|trans([],'BoAdminBundle')}} {{'entity.employee'|trans([],'BoAdminBundle')}}</h4>
			</div>
			<form action="{{ path('employee_new')}}" method="post" class="style">
				<div class="modal-body">
					{{ form_errors(form) }}
						{%include "BoAdminBundle:Employee:modalform.html.twig"%}
					{{ form_rest(form) }}
				</div>
				<div class="modal-footer">
					<input type="submit" value="{{'action.create'|trans([],'BoAdminBundle')}}">
				</div>
			</form>	
		  </div>
		  
		</div>
	  </div>
	</div>
	<!-- end employee creation form by modal dialog-->	

	<!-- begin send user login form by modal dialog-->
	<div class="container">
	  <!-- Modal -->
	  <div class="modal fade" id="send_login" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">{{'action.send'|trans([],'BoAdminBundle')}} {{'user.login'|trans([],'BoAdminBundle')}}</h4>
			</div>
			<form action="{{ path('employee_send_login')}}" method="post" class="style">
				<div class="modal-body">
					{%include "BoAdminBundle:Employee:loginform.html.twig"%}
				</div>
				<div class="modal-footer">
					<input type="submit" value="{{'action.send'|trans([],'BoAdminBundle')}}">
				</div>
			</form>	
		  </div>
		  
		</div>
	  </div>
	</div>
	<!-- end send user login form by modal dialog-->
	
	
	{% block javascripts %}
		<script>
			$("#idpage").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idpage option:selected");
				page=str.text();
				var DATA = 'motcle=' + page;
				$.ajax({
					type: "POST",
					url: "{{ path('employee_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});	
			$("#btn-search").click(function(){
				if($("#inp-search").val()==""){
					alert("Search fields is empty!");
					return false;
				}
				var criteria = $("#inp-search").val();				
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$(".pagination_content").hide();
				$(".total_number").hide();
				$(".list_link").show();
				var DATA = 'description=' + criteria;
				$.ajax({
					type: "POST",
					url: "{{ path('employee_search')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});			
			$("#idtype").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idtype option:selected");
				type=str.val();
				var str=$("#idstatus option:selected");
				status=str.val();
				var str=$("#idlangage option:selected");
				langage=str.val();
				var str=$("#idsexe option:selected");
				sexe=str.val();
				var str=$("#idavailability option:selected");
				availability=str.val();
				var str=$("#idoption option:selected");
				idoption=str.val();
				$(".list_link").show();
				$(".extract_btn").show();
				var DATA = 'data=' + type+':'+langage+":"+sexe+":"+status+":"+availability+":"+idoption;
				$.ajax({
					type: "POST",
					url: "{{ path('employee_extrasearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#idstatus").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$("#idtype").val(0);
				$("#idoption").val(0);
				var str=$("#idtype option:selected");
				type=str.val();
				var str=$("#idstatus option:selected");
				status=str.val();
				var str=$("#idlangage option:selected");
				langage=str.val();
				var str=$("#idsexe option:selected");
				sexe=str.val();
				var str=$("#idavailability option:selected");
				availability=str.val();
				var str=$("#idoption option:selected");
				idoption=str.val();
				$(".list_link").show();
				$(".extract_btn").show();
				var DATA = 'data=' + type+':'+langage+":"+sexe+":"+status+":"+availability+":"+idoption;
				$.ajax({
					type: "POST",
					url: "{{ path('employee_extrasearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#idlangage").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idtype option:selected");
				type=str.val();
				var str=$("#idstatus option:selected");
				status=str.val();
				var str=$("#idlangage option:selected");
				langage=str.val();
				var str=$("#idsexe option:selected");
				sexe=str.val();
				var str=$("#idavailability option:selected");
				availability=str.val();
				var str=$("#idoption option:selected");
				idoption=str.val();
				$(".list_link").show();
				$(".extract_btn").show();
				var DATA = 'data=' + type+':'+langage+":"+sexe+":"+status+":"+availability+":"+idoption;
				$.ajax({
					type: "POST",
					url: "{{ path('employee_extrasearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#idsexe").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idtype option:selected");
				type=str.val();
				var str=$("#idstatus option:selected");
				status=str.val();
				var str=$("#idlangage option:selected");
				langage=str.val();
				var str=$("#idsexe option:selected");
				sexe=str.val();
				var str=$("#idavailability option:selected");
				availability=str.val();
				var str=$("#idoption option:selected");
				idoption=str.val();
				$(".list_link").show();
				$(".extract_btn").show();
				var DATA = 'data=' + type+':'+langage+":"+sexe+":"+status+":"+availability+":"+idoption;
				$.ajax({
					type: "POST",
					url: "{{ path('employee_extrasearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#idavailability").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idtype option:selected");
				type=str.val();
				var str=$("#idstatus option:selected");
				status=str.val();
				var str=$("#idlangage option:selected");
				langage=str.val();
				var str=$("#idsexe option:selected");
				sexe=str.val();
				var str=$("#idavailability option:selected");
				availability=str.val();
				var str=$("#idoption option:selected");
				idoption=str.val();
				$(".list_link").show();
				$(".extract_btn").show();
				var DATA = 'data=' + type+':'+langage+":"+sexe+":"+status+":"+availability+":"+idoption;
				$.ajax({
					type: "POST",
					url: "{{ path('employee_extrasearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
			$("#idoption").change(function(){
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				var str=$("#idtype option:selected");
				type=str.val();
				var str=$("#idstatus option:selected");
				status=str.val();
				var str=$("#idlangage option:selected");
				langage=str.val();
				var str=$("#idsexe option:selected");
				sexe=str.val();
				var str=$("#idavailability option:selected");
				availability=str.val();
				var str=$("#idoption option:selected");
				idoption=str.val();
				$(".list_link").show();
				$(".extract_btn").show();
				var DATA = 'data=' + type+':'+langage+":"+sexe+":"+status+":"+availability+":"+idoption;
				$.ajax({
					type: "POST",
					url: "{{ path('employee_extrasearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/bootstrap/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}
