{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.employee'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:personnel.html.twig"%}{% endblock %}	
{% block nav %}{% endblock %}
{% block label %}<h1>{{'entity.employee'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('employee_edit',{'id':employee.id}) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Employee:editactions.html.twig"%}
			<div class="show_content">
				{%if profile=="Superadmin" or profile=="Executive"%}
					{%include "BoAdminBundle:Employee:editform.html.twig"%}
				{%else%}
					{%include "BoAdminBundle:Employee:newform.html.twig"%}
				{%endif%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
