    <table>
        <tbody>
            <tr>
                <th width="120px">Id:</th>
                <td>{{ typecontract.id }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>{{'label.reference'|trans([],'BoAdminBundle')}}:</th>
                <td>{{ typecontract.reference }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>Name:</th>
                <td>{{ typecontract.designation }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}:</th>
                <td>{% if typecontract.creationdate %}{{ typecontract.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>