    <table width="100%">
        <tbody>
            <tr>
				<th>Year</th>
				<th>Month</th>
				<th>Startdate</th>
				<th>Enddate</th>
            </tr>
            <tr>               
				<td>{{ periodPay.year }}</td>
				<td>{{ periodPay.month }}</td>
                <td>{% if periodPay.startdate %}{{ periodPay.startdate|date('Y-m-d') }}{% endif %}</td>
				<td>{% if periodPay.enddate %}{{ periodPay.enddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr><td colspan='4'>&nsp;</td></tr>
            <tr>
                <th>Numberhour</th>
				<th>{{'label.status'|trans([],'BoAdminBundle')}}</th>
				<th>Paydate</th>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
            </tr>
            <tr>
                <td>{{ periodPay.numberhour }}</td>
                <td>{{ periodPay.status }}</td>
                <td>{% if periodPay.paydate %}{{ periodPay.paydate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if periodPay.creationdate %}{{ periodPay.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
			<tr><td colspan='4'>&nsp;</td></tr>
        </tbody>
    </table>