    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th width="13%">{{'label.contractnumber'|trans([],'BoAdminBundle')}}</th>
                <th width="15%">{{'label.group'|trans([],'BoAdminBundle')}}/{{'label.student'|trans([],'BoAdminBundle')}}</th>
                <th width="13%">{{'label.contracttype'|trans([],'BoAdminBundle')}}</th>
                <th width="15%">{{'label.pa'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.status'|trans([],'BoAdminBundle')}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
			<tr><td colspan="8">No contract found</td></tr>
        </tbody>
    </table>