	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
			<th width="30%" class="sty_label">{{'label.amendment'|trans([],'BoAdminBundle')}}</th>	
			<th width="30%" class="sty_label">{{'label.reference'|trans([],'BoAdminBundle')}}</th>
			<th width="30%" class="sty_label">{{'label.costbefore'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.amendment) }}</td>	
			<td>{{ form_widget(edit_form.reference) }}</td>	
			<td>{{ form_widget(edit_form.costbefore, {'attr' : {'class' : 'costbefore span3'}}) }}</td>		
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.hoursbefore'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.revisionhours'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.revisionhours'|trans([],'BoAdminBundle')}} 1</th>
		</tr>
		<tr>	
			<td>{{ form_widget(edit_form.hoursbefore, {'attr' : {'class' : 'hoursbefore span3'}}) }}</td>	
			<td>{{ form_widget(edit_form.hour, {'attr' : {'class' : 'hour span3'}}) }}</td>
			<td>{{ form_widget(edit_form.hour1, {'attr' : {'class' : 'hour1 span3'}}) }}</td>			
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.hourafter'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.hourlyrate'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.hourlyrate'|trans([],'BoAdminBundle')}} 1</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.hourafter, {'attr' : {'class' : 'hourafter span3'}}) }}</td>	
			<td>{{ form_widget(edit_form.hourlyrate, {'attr' : {'class' : 'hourlyrate span3'}}) }}</td>	
			<td>{{ form_widget(edit_form.hourlyrate1, {'attr' : {'class' : 'hourlyrate1 span3'}}) }}</td>	
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th width="30%" class="sty_label">{{'label.revisioncost'|trans([],'BoAdminBundle')}}</th>
			<th width="30%" class="sty_label">{{'label.revisioncost'|trans([],'BoAdminBundle')}} 1</th>
			<th class="sty_label">{{'label.costafter'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.total, {'attr' : {'class' : 'total span3'}}) }}</td>	
			<td>{{ form_widget(edit_form.total1, {'attr' : {'class' : 'total1 span3'}}) }}</td>	
			<td>{{ form_widget(edit_form.costafter, {'attr' : {'class' : 'costafter span3'}}) }}</td>		
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>
			<th class="sty_label">{{'label.authorizeddate'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.daterate'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.daterate'|trans([],'BoAdminBundle')}} 1</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.authorizeddate) }}</td>
			<td>{{ form_widget(edit_form.ratedate) }}</td>
			<td>{{ form_widget(edit_form.ratedate1) }}</td>				
		</tr>
		<tr><td colspan="3">&nbsp;</td></tr>
		<tr>	
			<th class="sty_label">{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
			<th class="sty_label">{{'label.enddate'|trans([],'BoAdminBundle')}} 1</th>
		</tr>
		<tr>
			<td>{{ form_widget(edit_form.enddate) }}</td>
			<td>{{ form_widget(edit_form.enddate1) }}</td>					
		</tr>
		<tr><td colspan="2">&nbsp;</td></tr>
	</table>
