    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.reference'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.designation'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.status'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.room'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mobilier in mobiliers %}
            <tr>
                <td><a href="{{ path('mobiliers_show', { 'id': mobilier.id }) }}">{{ mobilier.id }}</a></td>
                <td>{{ mobilier.reference }}</td>
                <td>{{ mobilier.designation }}</td>
				<td>{{ mobilier.etatmobiliers }}</td>
				<td>{{ mobilier.local }}</td>
                <td>{% if mobilier.creationdate %}{{ mobilier.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="list-action">
                    <a href="{{ path('mobiliers_show', { 'id': campus.id }) }}"><img src="{{ asset('images/actions/afficher.jpg') }}" />{{'action.show'|trans([],'BoAdminBundle')}}</a>
                    <a href="{{ path('mobiliers_edit', { 'id': campus.id }) }}"><img src="{{ asset('images/actions/modifier.jpg') }}" />{{'action.edit'|trans([],'BoAdminBundle')}}</a>
                </td>				
            </tr>
		{%else%}
			<tr><td colspan="7">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>