    <table class="table table-bordered records_list">
        <thead>
            <tr>
				<th>{{'label.contract'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
				<th>{{'label.daysoftraining'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startam'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.endam'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startpm'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.endpm'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.hourperday'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
			<tr>
				<td colspan="9">{{'No data found'|trans([],'BoAdminBundle')}}</td>
			</tr>			
        </tbody>
    </table>