    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th width="11%">{{'label.firstname'|trans([],'BoAdminBundle')}}</th>
                <th width="14%">{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th width="18%">{{'label.email'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.homenumber'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.cellnumber'|trans([],'BoAdminBundle')}}</th>
				<th width="28%" colspan="2">Schedule</th>
            </tr>
        </thead>
        <tbody>
		{% set i=0 %}
        {% for group in groups %}
			{%if ((group.startdate<=now and now<=group.enddate and group.status==1) or group.startdate>=now) and gteachers[group.id] is defined%}
				{%set teachers=gteachers[group.id]%}
				{%if gteacherschedule[group.id] is defined%}{%set schedule=gteacherschedule[group.id]%}{%endif%}
				{% for employee in teachers %}
					{% set i=i+1 %}
					<tr>
						<td>{{ employee.firstname }}</td>
						<td>{{ employee.name }}</td>
						<td>{{ employee.email }}</td>
						<td>{{ employee.homenumber }}</td>
						<td>{{ employee.cellnumber }}</td>
						<td colspan="2"><center>{%if schedule is defined and schedule[employee.id] is defined and schedule[employee.id]!=null %}{{ schedule[employee.id]}}{%else%}---{%endif%}</center></td>
					</tr>				
				{% endfor %}
			{%endif%}
		{% endfor %}
        </tbody>
    </table>