	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
				{%if app.session.get('rights')['CONTRACTS']['Contracts'] is defined and app.session.get('rights')['CONTRACTS']['Contracts'].search==1%}
					<td class="form-group">
						<input type="text" class="form-control" id="inp-search" {%if description is defined and description is not null%} value="{{description}}"{%endif%}>
					</td>
					<td>
						<button type="submit" id="btn_search">{{'action.search'|trans([],'BoAdminBundle')}}</button>
					</td>
				{%endif%}
				{%if app.session.get('rights')['CONTRACTS']['Contracts'] is defined and app.session.get('rights')['CONTRACTS']['Contracts'].creation==1%}
					<td>
						<a href="{{ path('contracts_new') }}">{{'action.add'|trans([],'BoAdminBundle')}}</a>
					</td>
				{%endif%}
				{%if app.session.get('rights')['CONTRACTS']['Contracts'] is defined and app.session.get('rights')['CONTRACTS']['Contracts'].liste==1%}
					<td>
						<a href="{{ path('contracts_index') }}">{{'contracts.list'|trans([],'BoAdminBundle')}}</a>
					</td>
				{%endif%}
				</tr>
			</table>		
		</div>
	</div>	