	<table border="0" cellpadding="0" cellspacing="0" id="new_row">
		<tr>
            <th width="27%" class="sty_label">{{'label.fullname'|trans([],'BoAdminBundle')}}</th>
			<th width="27%" class="sty_label">{{'label.email'|trans([],'BoAdminBundle')}}</th>
            <th width="27%" class="sty_label">{{'label.phone'|trans([],'BoAdminBundle')}}</th>
			<th width="15%" class="sty_label">{{'label.contracttype'|trans([],'BoAdminBundle')}}</th>
		</tr>
		<tr>
			<td>{{ form_widget(coordinator_form.name, {'attr' : {'class' : 'co_name span3'}}) }}</td>
			<td>{{ form_widget(coordinator_form.email, {'attr' : {'class' : 'co_email span3'}}) }}</td>	
			<td>{{ form_widget(coordinator_form.phone, {'attr' : {'class' : 'co_phone span3'}}) }}</td>
			<td>{{ form_widget(coordinator_form.typecontract, {'attr' : {'class' : 'cotypecontract span3'}}) }}			
		</tr>
		<tr><td colspan="4">&nbsp;</td></tr>
	</table>