    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.name'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.targetlevel'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.createdby'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.targetlevel }}</td>
                <td>{% if group.startdate %}{{ group.startdate|date('Y-m-d') }}{%else%}---{% endif %}</td>
                <td>{% if group.enddate %}{{ group.enddate|date('Y-m-d') }}{%else%}---{% endif %}</td>
                <td>{% if group.createby %}{{ group.createby }}{%else%}---{% endif %}</td>
                <td>{% if group.creationdate %}{{ group.creationdate|date('Y-m-d') }}{%else%}---{% endif %}</td>
            </tr>
        </tbody>
    </table>