<p>Bonjour / Hello {{contract.advisor.firstname}},</p>
<p>
	Un nouveau contrat vient d'être ajouter à la liste de votre supervision :
</p>
<p>
	{%if contract.language%}
		<div><b>Langue / Language </b>: {{contract.language}}</div>
	{%endif%}
	{%if contract.startdate%}
		<div><b>Date de D&#233;but / Start Date</b>: {{contract.startdate|date("d-m-Y")}}</div>
	{%endif%}
	{%if contract.enddate%}
		<div><b>Date de Fin / End Date</b>:{{contract.enddate|date("d-m-Y")}}</div>
	{%endif%}
	{%if contract.hoursnumber%}
		<div><b>Nombre d'heures / Number of hours</b>:{{contract.totalhours}}</div>
	{%endif%}
	{%if contract.schedule%}
		<div><b>Horaire / Schedule</b>:{{contract.schedule}}</div>
	{%endif%}
	{%if contract.targetlevel%}
		<div><b>Niveau vis&#233; / Target Level</b>:{{contract.targetlevel}}</div>
	{%endif%}
	{%if contract.group and contract.group!=null%}
		<div><b>Groupe / Group</b>: {{contract.group.name}}</div>
	{%endif%}
	{%if contract.students and contract.students|length==1%}
		{%for student in contract.students%}
			<div><b>Apprenant / Student</b>: {{student.firstname}} {{student.name}}</div>
		{%endfor%}
	{%endif%}
	{%if contract.adresse%}
		<div><b>Lieu / Address</b>:{{contract.adresse}}</div>
	{%elseif contract.location and contract.location=="Campus" and contract.campus%}
		<div><b>Lieu / Address</b>:{{contract.campus.address}}</div>
	{%endif%}
	{%if contract.contractnumber%}
		<div><b>Contract Number</b>:{{contract.contractnumber}}</div>
	{%endif%}
	{%if contract.location=="Campus"%}
		<div><b>Salle de classe</b>: {%if room is defined%}{{room}}{%endif%}</div>
	{%endif%}
</p>
<p>
	SLS MANAGER for CLIC
</p>
