    <table class="table table-bordered records_list">
        <thead>
            <tr>
				<th width="3%">{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <th width="4%">{{'label.type'|trans([],'BoAdminBundle')}}</th>
                <th width="7%">{{'label.ftorpt'|trans([],'BoAdminBundle')}}</th>
                <th width="9%">{{'label.group'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.student'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.number'|trans([],'BoAdminBundle')}}</th>
                <th width="6%">{{'label.field'|trans([],'BoAdminBundle')}}</th>
                <th width="6%">{{'label.session'|trans([],'BoAdminBundle')}}</th>
                <th width="3%">{{'label.step'|trans([],'BoAdminBundle')}}</th>
                <th width="13%">{{'label.teacher'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.advisor'|trans([],'BoAdminBundle')}}</th>
                <th width="7%">{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th width="7%">{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.id }}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.typecontract }}</td>
				<td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.typetime }}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>
				{%if contract.typeoftraining=="GR" and contract.group%}{{ contract.group.name }}{%else%}N/A{%endif%}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>
					{%if contract.students is defined and contract.students|length==1%}
						{%for student in contract.students %}
							{{ student.firstname }} {{ student.name }}
						{%else%}
							---
						{%endfor%}				
					{%endif%}
				</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.contractnumber }}</td>
				<td {%if contract.status==0%} class="completed_contracts"{%endif%}>{%if contract.workfields%}{{ contract.workfields }}{%else%}N/A{%endif%}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{%if contract.session%}{{ contract.session }}{%else%}N/A{%endif%}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{%if contract.step%}{{ contract.step }}{%else%}N/A{%endif%}</td>
                <td {%if contract.status==0%}class="completed_contracts"{%endif%}>
					{%set i=1%}

					{%if contract.group and contract.group.employee|length>0%}
						{%for teacher in contract.group.employee %}
							{{ teacher.firstname }} {{ teacher.name }}{%if contract.group.employee|length>i%}<br>{%else%}{%set i=i+1%}{%endif%}
						{%endfor%}
					{%elseif contract.employee|length>0%}
						{%for teacher in contract.employee %}
							{{ teacher.firstname }} {{ teacher.name }}{%if contract.employee|length>i%}<br>{%else%}{%set i=i+1%}{%endif%}
						{%endfor%}
					{%else%}
						---
					{%endif%}
				</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{%if contract.advisor%}{{ contract.advisor.firstname }} {{ contract.advisor.name }}{%else%}---{%endif%}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{% if contract.startdate %}{{ contract.startdate|date('Y-m-d') }}{% endif %}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{% if contract.enddate %}{{ contract.enddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
		{%else%}
			<tr><td colspan="12">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>