    <table class="table table-bordered records_list">
        <thead>
            <tr>
				<th width="11%">{{'label.studentorgroup'|trans([],'BoAdminBundle')}}</th>
                <th width="8%">{{'label.type'|trans([],'BoAdminBundle')}}</th>
                <th width="11%">{{'label.group'|trans([],'BoAdminBundle')}}</th>
                <th width="15%">{{'label.number'|trans([],'BoAdminBundle')}}</th>
                <th width="7%">{{'label.field'|trans([],'BoAdminBundle')}}</th>
                <th width="9%">{{'label.session'|trans([],'BoAdminBundle')}}</th>
                <th width="7%">{{'label.program'|trans([],'BoAdminBundle')}}</th>
                <th width="7%">{{'label.step'|trans([],'BoAdminBundle')}}</th>
                <th width="10%">{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th width="9%">{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>
					{%if contract.group %}
						{{ contract.group.name }}
					{%elseif contract.students %}
						{%set i=0%}
						{%for student in contract.students %}
							{{ student.firstname }} {{ student.name }}
							{%if i<contract.students|length%}, {%endif%}
						{%endfor%}
					{%endif%}
				</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.typecontract }}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>
				{%if contract.typeoftraining=="GR" and contract.group%}{{ contract.group.name }}{%elseif students[contract.id] is defined%}{{students[contract.id].firstname}} {{students[contract.id].name}}{%endif%}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{{ contract.contractnumber }}</td>
				<td {%if contract.status==0%} class="completed_contracts"{%endif%}>{%if contract.workfields%}{{ contract.workfields }}{%else%}N/A{%endif%}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{%if contract.session%}{{ contract.session }}{%else%}N/A{%endif%}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{%if contract.program%}{{ contract.program }}{%else%}N/A{%endif%}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{%if contract.step%}{{ contract.step }}{%else%}N/A{%endif%}</td>
                <!--td {%if contract.status==0%} class="completed_contracts"{%endif%}>
					{%set i=1%}
					{%for teacher in contract.employee %}
						{{ teacher.firstname }} {{ teacher.name }}{%if contract.employee|length>i%}<br>{%else%}{%set i=i+1%}{%endif%}
					{%else%}
						N/A
					{%endfor%}
				</td--!>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{% if contract.startdate %}{{ contract.startdate|date('Y-m-d') }}{% endif %}</td>
                <td {%if contract.status==0%} class="completed_contracts"{%endif%}>{% if contract.enddate %}{{ contract.enddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
		{%else%}
			<tr><td colspan="10">{{'No data found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
        </tbody>
    </table>