    <table class="table table-bordered records_list">
        <thead>
            <tr>
		<th>{{'label.from'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.to'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startam'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.endam'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startpm'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.endpm'|trans([],'BoAdminBundle')}}</th>
                <th>Hours</th>
		<th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
			{% include 'BoAdminBundle:Contracts:scheduleliste.html.twig' %}
        {% endfor %}
        </tbody>
    </table>
