    <table>
        <tbody>
            <tr>
                <th>{{'label.id'|trans([],'BoAdminBundle')}}</th>
                <td>{{ tday.id }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>Iday</th>
                <td>{{ tday.iday }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>Sdayen</th>
                <td>{{ tday.sdayen }}</td>
            </tr>
			<tr><td>&nbsp;</td></tr>
            <tr>
                <th>Sdayfr</th>
                <td>{{ tday.sdayfr }}</td>
            </tr>
        </tbody>
    </table>