{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.evaluation'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:admin.html.twig"%}{% endblock %}
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.evaluation'|trans([],'BoAdminBundle')}} >> {{'title.edit'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block body %}
	<div id="body-content">
		<form action="{{ path('evaluation_edit',{'id':evaluation.id}) }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Evaluation:editactions.html.twig"%}
			<div class="show_content">
				{%if evaluation.status=="1" or evaluation.status=="11"%}
					{%include "BoAdminBundle:Evaluation:part2form.html.twig"%}
				{%else%}
					{%include "BoAdminBundle:Evaluation:modalform.html.twig"%}
				{%endif%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
