{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'entity.evaluation'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:admin.html.twig"%}{% endblock %}
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.evaluation'|trans([],'BoAdminBundle')}} >> {{'title.creation'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block body %}
	<div id="body-content">
		<form action="{{ path('evaluation_new') }}" method="post" class="style">
			{{ form_errors(form) }}
			{%include "BoAdminBundle:Evaluation:newactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:Evaluation:editform.html.twig"%}
			</div>
			{{ form_rest(form) }}
		</form>	
	</div>
{% endblock %}
