{% extends 'base2.html.twig' %}
{% block title %}{{parent()}}- {{'entity.coordinator'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:contracts.html.twig"%}{% endblock %}
{% block nav %}	
{% endblock %}
{% block label %}<h1>{{'entity.coordinator'|trans([],'BoAdminBundle')}} >> {{'title.list'|trans([],'BoAdminBundle')}}</h1>{% endblock %}	
{% block actions %}
	{%include "BoAdminBundle:Coordinator:actions.html.twig"%}					
{% endblock %}
{% block body %}
	{%if total is defined and total>nb_cpp%}
		<div class="pagination_content">
			{% include 'BoAdminBundle:Coordinator:pagination.html.twig' %}
		</div>
	{%endif%}
	<div id="content-liste">
		{%include "BoAdminBundle:Coordinator:tbliste.html.twig"%}
	</div>
	<div class="container">
		<!-- Modal -->
		<div class="modal fade" id="add_coordinator" role="dialog">
			<div class="modal-dialog">
			
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">{{'action.add'|trans([],'BoAdminBundle')}} {{'entity.coordinator'|trans([],'BoAdminBundle')}}</h4>
				</div>
				<form action="{{ path('coordinator_new') }}" method="post" class="style">
					<div class="modal-body">
						{{ form_errors(form) }}
						{%include "BoAdminBundle:Coordinator:modalform.html.twig"%}
						{{ form_rest(form) }}
					</div>
					<div class="modal-footer">
						<input type="submit" id="btn_submit" value="{{'action.create'|trans([],'BoAdminBundle')}}">
					</div>
				</form>	
			  </div>
			  
			</div>
		</div>
	</div>
	{% block javascripts %}
		<script>
			$("#idpage").change(function(){
				var str=$("#idpage option:selected");
				page=str.text();
				var DATA = 'motcle=' + page;
				$.ajax({
					type: "POST",
					url: "{{ path('coordinator_pagesearch')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});	
			$("#btn_submit").click(function(){
				var fullname = $(".fullname").val();
				var array = fullname.split(" ");
				if(array.length<2){
					alert("You must to enter a firstname and name separeted by an empty space.");
					return false;
				}
				return true;
			});
			$("#btn-search").click(function(){
				if($("#inp-search").val()==""){
					alert("Search fields is empty!");
					return false;
				}
				var criteria = $("#inp-search").val();				
				$('#content-liste').html("<center>{{'message.search_inprogress'|trans([],'BoAdminBundle')}} >>&nbsp;<img src=\"{{ asset('images/others/loading.gif') }}\" border='0' /></center>");
				$(".pagination_content").hide();
				$(".total_number").hide();
				$(".list_link").show();
				var DATA = 'description=' + criteria;
				$.ajax({
					type: "POST",
					url: "{{ path('coordinator_search')}}",
					data: DATA,
					cache: false,
					success: function(data){
						$('#content-liste').html(data);
					}
				});
				return false;
			});
		</script>
		<script type="text/javascript" src="{{ asset('js/vendor/bootstrap/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
	{% endblock %}
{% endblock %}
