    <table class="table table-bordered records_list">
        <thead>
            <tr>
                <th>{{'label.student'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.motif'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.startdate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.enddate'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.amorpm'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.numberday'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.noshow'|trans([],'BoAdminBundle')}}</th>
                <th>{{'label.creationdate'|trans([],'BoAdminBundle')}}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td>{%if absence.students%}{{ absence.students.firstname }} {{ absence.students.name }}{%else%}---{%endif%}</td>
                <td>{{ absence.motif }}</td>
                <td>{% if absence.startdate %}{{ absence.startdate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if absence.enddate %}{{ absence.enddate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if absence.amorpm %}{{ absence.amorpm }}{% endif %}</td>
                <td>{{ absence.numberday }}</td>
                <td>{% if absence.noshow == true%}{{'label.yes'|trans([],'BoAdminBundle')}}{% else %}{{'label.no'|trans([],'BoAdminBundle')}}{% endif %}</td>
                <td>{% if absence.creationdate %}{{ absence.creationdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="list-action" nowrap>
                    	<a href="{{ path('students_show_absence', { 'id': absence.id,'option':2 }) }}">{{'action.show'|trans([],'BoAdminBundle')}}</a>
			{%if app.session.get('rights')['CONTRACTS']['Students'] is defined and app.session.get('rights')['CONTRACTS']['Students'].edit==1%}
				<a href="{{ path('students_edit_absence', { 'id': absence.id,'option':2 }) }}">{{'action.edit'|trans([],'BoAdminBundle')}}</a>
			{%endif%}
                </td>
            </tr>
	{%else%}
		<tr><td colspan="9">{{'message.no.found'|trans([],'BoAdminBundle')}}</td></tr>
        {% endfor %}
	{%if allabsences is defined and absences|length>0 and allabsences|length>5%}
		<tr><td colspan="9" class="list-action">
			{%if offset is defined and offset==5%}
				<a href="{{ path('students_list_absence', { 'id': student.id,'offset':5 }) }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
			{%else%}
				<a href="{{ path('students_list_absence', { 'id': student.id,'offset':0 }) }}">{{'label.allabsences'|trans([],'BoAdminBundle')}}</a>
			{% endif %}
		</td></tr>
	{% endif %}
        </tbody>
    </table>
