	<div class="panel panel-default">
		<div class="panel-body">
			<table>
				<tr>
					<td><button type="submit" id="btn-create">{{'action.update'|trans([],'BoAdminBundle')}}</button></td>
					<td>
						{%if idcontract is defined%}
							<a href="{{ path('contracts_show',{'id':idcontract}) }}">{{'action.back'|trans([],'BoAdminBundle')}}</a>
						{%else%}
							<a href="{{ path('students_index')}}">{{'action.back'|trans([],'BoAdminBundle')}}</a>						
						{%endif%}
					</td>
				</tr>
			</table>		
		</div>
	</div>	